.bodyTable {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bodyTable th,
.bodyTable td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.bodyTable th {
  font-weight: bold;
}

.bodyTable thead th {
  vertical-align: bottom;
}

.bodyTable caption + thead tr:first-child th,
.bodyTable caption + tbody tr:first-child th,
.bodyTable caption + tbody tr:first-child td,
.bodyTable colgroup + thead tr:first-child th,
.bodyTable colgroup + tbody tr:first-child th,
.bodyTable colgroup + tbody tr:first-child td,
.bodyTable thead:first-child tr:first-child th,
.bodyTable tbody:first-child tr:first-child th,
.bodyTable tbody:first-child tr:first-child td {
  border-top: 0;
}

.bodyTable tbody + tbody {
  border-top: 2px solid #dddddd;
}

.bodyTable .bodyTable {
  background-color: #ffffff;
}

.bodyTable th,
.bodyTable td {
  border-left: 1px solid #dddddd;
}

.bodyTable thead:first-child tr:first-child > th:first-child,
.bodyTable tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.bodyTable thead:first-child tr:first-child > th:last-child,
.bodyTable tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.bodyTable thead:last-child tr:last-child > th:first-child,
.bodyTable tbody:last-child tr:last-child > td:first-child,
.bodyTable tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.bodyTable thead:last-child tr:last-child > th:last-child,
.bodyTable tbody:last-child tr:last-child > td:last-child,
.bodyTable tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.bodyTable tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.bodyTable tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.bodyTable caption + thead tr:first-child th:first-child,
.bodyTable caption + tbody tr:first-child td:first-child,
.bodyTable colgroup + thead tr:first-child th:first-child,
.bodyTable colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.bodyTable caption + thead tr:first-child th:last-child,
.bodyTable caption + tbody tr:first-child td:last-child,
.bodyTable colgroup + thead tr:first-child th:last-child,
.bodyTable colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.bodyTable tbody > tr:nth-child(odd) > td,
.bodyTable tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}