html, body {
  height: 100%;	
}

h1 {
    font-size: 40px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #404040;
}

.page-header {
    margin: 0;
}

a {
    color: #3b73af;
}

a:hover {
    color: #fcc300;
    text-decoration: none;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eff6fb;
}

.container-fluid {
    min-width: 1040px;
}

.content-header {
    background: url('../images/feature-logo-full.png') no-repeat top right #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
}

.content-nav {
    background-color: #eff6fb;
    padding-top: 5px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content {
    margin-top: 20px;
}

.span .navigation {
    width: 15%;
    min-width: 235px;
}

.separated {
    border-left: 1px solid #dddddd;
}

.navbar .brand {
    color: #ffffff;
    padding: 6px 10px 5px;
    text-shadow: none;
}

.navbar .brand span {
    vertical-align: middle;
}

.navbar-inner {
    background: #0096D6;
    border: none;
}

.navbar .nav > li > a {
    color: #ffffff;
    font-size: 13px;
    text-shadow: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > a:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.navbar .nav > li > a:hover {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.box {
    background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 5px 20px 20px 25px;
    position: relative;
}

.box-dark {
    background-color: #eff6fb;
}

.side-nav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    margin: 110px 0 0;
    padding: 0;
}

.side-nav > li > a {
    border: 1px solid #DDDDDD;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

.side-nav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.side-nav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
    color: #404040;
    background-color: #eff6fb;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #404040;
    background-color: #ffffff;
}

.nav-tabs.nav-stacked > li > a {
    color: #404040;
    background-color: #ffffff;
}

.nav-tabs.nav-stacked > .active > a, .nav-tabs.nav-stacked > li > a:hover {
    color: #404040;
    background-color: #eff6fb;
}

.nav-tabs.nav-stacked > li > a > i {
    color: #ffffff;
    margin-top: 3px;
}

.nav-tabs.nav-stacked > .active > a > i, .nav-tabs.nav-stacked > li > a:hover > i {
    color: #fcc300;
    margin-top: 3px;
}

h4.page-header {
    padding: 0 0 5px;
    margin: 5px 0 15px;
}

.label, .badge {
    text-shadow: none;
    font-weight: normal;
}

.ajax-loader {
  margin-left: 10px;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.clickable-hover:hover {
  background: #f5f5f5;
}

form#search-form {
    margin: 0 0 10px;
}

form#search-form #test-name {
    width: 185px;
}

div.test-details-open {
   padding-top: 200px;
   min-height: 595px;
   text-align: center;
}

.test-details {
    min-height: 695px;
}

.test-details-content {
    height: 650px;
}

.test-details h4.page-header {
    margin: 15px 0 15px;
}

.test-details-header {
    margin: 0px;
    padding: 15px 20px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}

.test-details-header small {
    color: #555555;
}

.test-details-navbar {
    margin-bottom: 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.test-details-navbar .navbar-inner {
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding-left: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#test-tabs {
    border-bottom: none;
    margin-bottom: 0px;
}

#test-tabs button.close {
    margin-right: 8px;
}

#test-tabs > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-top: none;
    padding-right: 25px;
    margin-right: 0px;
}

#test-tabs > li.active > a {
    border-bottom: none;
}

blockquote {
    min-height: 50px;
}

blockquote p {
    font-size: 14px;
}

.progress {
    border: 1px solid #dddddd;
}

.progress .bar {
    text-shadow: none;
    transition: none;
}

.test-progress {
    min-width: 650px;
}

.test-report-bar {
    height: 8px;
    margin-bottom: 8px;
}

code.template {
    display: none;
}

pre.logger {
    height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 10px;
    background-color: #ffffff;
    border: none;
}

ul.jqueryFileTree {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

ul.jqueryFileTree a {
    padding: 1px 2px;
}

ul.jqueryFileTree a:hover {
    background: #eff6fb;
}

ul.jqueryFileTree li.ext_java_class {
    background: url(icons/filetree/java.png) left top no-repeat;
}

ul.jqueryFileTree li.ext_java_method {
    background: url(icons/filetree/method.png) left top no-repeat;
}

div.file-tree {
    overflow: auto;
    padding: 5px;
}

.modal-body div.file-tree {
  height: 300px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.6;
  background-color: #F9F9F9;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    width: 175px;
    font-weight: bold;
}

.form-horizontal .controls {
    margin-left: 200px;
}

span.message-data {
    font-size: 12px;
}

span.message-inbound {
    color: #ffffff;
    background-color: #5ab15a;
    font-size: 16px;
}

span.message-outbound {
    color: #ffffff;
    background-color: #92bed2;
    font-size: 16px;
}

#footer {
  height: 610px;
  background-color: #ffffff;
}

#footer .nav {
    height: 25px;
	margin-bottom: 0px;
}

#footer .nav li {
    line-height: 5px;
}

#footer .navbar {
    margin-bottom: 0px;
}

#footer .navbar-inner {
    background: rgba(80, 80, 80, 1);
    min-height: 10px;
    color: #ffffff;
}

.navbar-fixed-bottom .navbar-inner {
    border-width: 1px 0 1px;
    border-color: #888;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #fcc300;
    background-image: -moz-linear-gradient(top , #fad011, #fcc300);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fad011), to(fac300));
    background-image: -webkit-linear-gradient(top, #fad011, #fcc300);
    background-image: -o-linear-gradient(top, #fad011, #fcc300);
    background-image: linear-gradient(to bottom, #fad011, #fcc300);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: #fcc300;
    background-image: -moz-linear-gradient(top , #fad011, #fcc300);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fad011), to(fac300));
    background-image: -webkit-linear-gradient(top, #fad011, #fcc300);
    background-image: -o-linear-gradient(top, #fad011, #fcc300);
    background-image: linear-gradient(to bottom, #fad011, #fcc300);
}

.dropdown-menu li > a {
    min-width: 125px;
    line-height: 1.8em;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

#footer .tab-content {
	min-height: 1000px;
    background-color: #ffffff;
}

#footer.maximized {
	height: 1000px;
}

#footer.minimized {
    height: 25px;
}

.footer-tab {
    height: 575px;
}

.footer-tab .maximized, pre.logger .maximized, .footer-task-bar .maximized {
    height: 975px;
}

.footer-tab .minimized, pre.logger .minimized, .footer-task-bar .minimized {
    height: 0px;
}

#footer-tabs > li > a {
    padding-right: 25px;
    border-right: 1px solid #888;
}

#footer-tabs button.close {
    margin-right: 8px;
}

.footer-bar {
    font-size: 16px;
    margin-right: 10px;
}

.footer-bar i {
    float: left;
    display: block;
    text-align: center;
    padding: 3px;
    margin: 0 1px;
}

.footer-bar i:hover {
    color: #fcc300;
}

.footer-task-bar {
    width: 35px;
    height: 575px;
    float: left;
    padding-top: 5px;
    background-color: #efefef;
    border-right: 1px solid #dddddd;
    color: #404040;
}

.footer-task-bar i {
    display: block;
    text-align: center;
    padding: 3px;
    margin: 0 5px;
    border: 1px solid #eeeeee;
}

.footer-task-bar i:hover {
    border: 1px solid #cccccc;
}

.footer-task-bar i.fa-stop {
    color: #F4645C;
}

.footer-task-bar i.disabled, .footer-bar i.disabled {
    color: #888888;
}

.btn-citrus {
    color: #ffffff;
    text-shadow: none;
    background-color: #fcc300;
    background-image: -moz-linear-gradient(top , #fad011, #fcc300);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fad011), to(fac300));
    background-image: -webkit-linear-gradient(top, #fad011, #fcc300);
    background-image: -o-linear-gradient(top, #fad011, #fcc300);
    background-image: linear-gradient(to bottom, #fad011, #fcc300);
    background-repeat: repeat-x;
    border-color: #fcc300 #fcc300 #fad011;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFBD06E', endColorstr='#ffF89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-citrus:hover,
.btn-citrus:active,
.btn-citrus.active,
.btn-citrus.disabled,
.btn-citrus[disabled] {
    color: #ffffff;
    background-color: #fcc300;
    *background-color: #fad011;
}

.btn-citrus.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-citrus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

input[readonly], select[readonly], textarea[readonly] {
    cursor: default;
    background-color: #ffffff;
}

.config-box {
    font-size: 12px;
    width: 295px;
    padding: 0px 0px 0px 0px;
    float: left;
    margin-right: 10px;
    overflow-x: hidden;
}

.config-box:hover h5.page-header {
    background-color: #fcc300;
}

.config-box h5.page-header {
    padding-left: 5px;
    margin: 0 0 5px 0;
    background-color: #efefef;
}

.config-box .button-bar {
    border-top: 1px solid #eeeeee;
    text-align: right;
}

.config-box dl.dl-horizontal dt {
    width: 80px;
}

.config-box dl.dl-horizontal dd {
    margin-left: 90px;
}

.config-table {
    margin-top: 20px;
    margin-bottom: 50px;
}

.test-design {
    background: #f6f6f6;
}

.test-design .container-fluid {
    padding: 0px 0px 0px 0px;
}

.test-design .span9 {
    min-height: 650px;
    margin-left: 0px;
}

.test-design-panel {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #ffffff;
}

.test-variables-panel {
    background: #ffffff;
}

.test-variables-panel table {
    margin-top: 15px;
    margin-bottom: 0px;
    word-break: break-all;
    word-wrap: break-word;
    border-bottom: 1px solid #dddddd;
}

.test-variables-panel thead {
    font-size: 17px;
}

.test-variables-panel tbody {
    font-size: 12px;
}

td.test-variable {
    border-left: 1px solid #dddddd
}

.test-actions {
    margin-top: 20px;
    padding-left: 45%;
}

.start-action, .stop-action {
    padding: 0px 0px 0px 0px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 5px 15px;
    background-color: #dddddd;
    *background-color: #dddddd;
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top, #ffffff, #dddddd);
    background-image: linear-gradient(to bottom, #ffffff, #dddddd);
    background-repeat: repeat-x;
    border: 2px solid #a0a0a0;
    *border: 0;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.test-action {
    padding: 0px 0px 0px 0px;
    width: 78px;
    height: 48px;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    background-color: #dddddd;
    *background-color: #dddddd;
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top, #ffffff, #dddddd);
    background-image: linear-gradient(to bottom, #ffffff, #dddddd);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    *border: 0;
    border-color: #bbbbbb #a0a0a0;
    border-bottom-color: #bbbbbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.test-action:hover {
    background-color: #dddddd;
    *background-color: #dddddd;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.test-container {
    border: 1px solid #dddddd;
    margin-left: -45px;
    padding-left: 45px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 140px;
}

.test-container span {
    margin-left: -20px;
}

.test-container span i {
    font-size: 20px;
}

.test-container-nested {
    margin-left: -25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 110px;
}

.test-action p, .start-action p, .stop-action p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.start-action i, .stop-action i {
    position: relative;
    top: 14px;
    font-size: 20px;
}

.test-action i {
    position: relative;
    top: 5px;
    left: -20px;
    font-size: 20px;
}

.start-action i.fa-play {
    color: #5ab15a;
}

.stop-action i.fa-stop {
    color: #F4645C;
}

.icon-echo:before {
    content: "\f05a";
}

.icon-sleep:before {
    content: "\f017";
}

.icon-sql:before {
    content: "\f085";
}

.icon-sequential:before {
    content: "\f160";
}

.icon-parallel:before {
    content: "\f126";
}

.icon-catch:before {
    content: "\f0e9";
}

.icon-assert:before {
    content: "\f06e";
}

.icon-fail:before {
    content: "\f0e7";
}

.icon-send:before {
    content: "\f08b";
    color: #92bed2;
}

.icon-receive:before {
    content: "\f090";
    color: #5ab15a;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-large {
    width: 48px;
    height: 48px;
    display: inline-block;
}

.icon-large.icon-schema-repository {
    background: url("icons/large/schema-repository.png") no-repeat;
}

.icon-schema {
    background: url("icons/schema.png") no-repeat;
}

.icon-large.icon-schema {
    background: url("icons/large/schema.png") no-repeat;
}

.connected-horizontal {
    float: left;
    margin-right: 20px;
}

ul.sortable {
    list-style: none;
    margin: 0px 0px;
    padding: 5px 0 0 0;
    min-width: 310px;
    min-height: 150px;
}

ul.sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    min-width: 300px;
}

li.sortable {
    border: 1px solid #d4d4d4;
    cursor: move;
}

li.sortable.highlight {
    background: #eff6fb;
}

.config-panel {
    padding-right: 0px;
    background: #f6f6f6;
    border-bottom: 1px solid #dddddd;
}

.config-items-panel {
    background: #ffffff;
    border-left: 1px solid #dddddd;
}

.config-item {
    float: left;
    width: 250px;
    height: 180px;
    border-right: 1px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: hidden;
}

.config-item h4 {
    vertical-align: top;
    margin: 3px 0px;
}

.config-item dl {
    margin-bottom: 5px;
}

.config-item dt {
    width: 45px;
}

.config-item dd {
    margin-left: 55px;
}

.config-item-new {
    color: #aaaaaa;
}

.config-properties {
    margin: 0px 0px;
}

.config-properties-panel .config-properties {
    margin-top: 75px;
    font-weight: bold;
}

.config-properties li {
    list-style: none;
    word-break: break-all;
    word-wrap: break-word;
}

.test-transition {
    padding: 0px 0px 0px 0px;
    background: none;
    width: 78px;
    height: 20px;
    text-align: center;
    margin: 0px 0px;
}

.test-transition i {
    font-size: 20px;
}

.prettycode {
  padding: 8px;
  background-color: #ffffff;
  border: none;
}

ul.properties {
  margin: 0 0 10px 0px;
}

ul.properties li {
  list-style: none;
  word-break: break-all;
  word-wrap: break-word;
}

.badge-header {
  min-width: 350px;
  font-size: 30.5px;
}

.badge-emphasis {
  min-width: 20px;
  font-size: 18px;
  text-align: center;
}

.label-citrus, .badge-citrus {
    background-color: #fcc300;
}

.label-jms, .badge-jms {
    background-color: #faac00;
}

.label-http-client, .badge-http-client,
.label-http-server, .badge-http-server {
    background-color: #428bca;
}

.label-ssh, .badge-ssh {
    background-color: #F4645C;
}

.label-mail, .badge-mail {
    background-color: #768dc1;
}

.label-ws-client, .badge-ws-client,
.label-ws-server, .badge-ws-server{
    background-color: #0480be;
}

.label-channel, .badge-channel {
    background-color: #92bed2;
}

i.citrus {
    color: #fcc300;
}

i.jms {
    color: #faac00;
}

i.http {
    color: #92bed2;
}

i.ssh {
    color: #F4645C;
}

i.mail {
    color: #768dc1;
}

i.ws {
    color: #0480be;
}

i.channel {
    color: #92bed2;
}

/* Disable bootstrap icons as we use font-awesome icons */

[class^="icon-"],
[class*=" icon-"] {
  background-image: none;
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}