html, body {
  height: 100%;	
}

body {
	padding-top: 60px;
    background: url('../images/feature-logo-full.png') no-repeat top right;
}

h1 {
    font-size: 40.5px;
}

a {
    color: #333333;
}

a:hover {
    color: #F89406;
    text-decoration: none;
}

.container-fluid {
    min-width: 1040px;
}

.row-fluid .navigation {
    max-width: 235px;
}

.navbar .brand {
    padding: 6px 10px 5px;
}

.navbar .brand span {
    vertical-align: middle;
}

.box {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 5px 20px 20px 25px;
  position: relative;
}

.side-nav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  margin: 110px 0 0;
  padding: 0;
}

.side-nav > li > a {
  border: 1px solid #DDDDDD;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
}

.side-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.side-nav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
    color: #000000;
    background-color: #efefef;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #333333;
    background-color: #ffffff;
}

.nav-tabs.nav-stacked > li > a {
    color: #333333;
    background-color: #ffffff;
}

.nav-tabs.nav-stacked > .active > a, .nav-tabs.nav-stacked > li > a:hover {
    color: #333333;
    background-color: #efefef;
}

.nav-tabs.nav-stacked > li > a > i {
    color: #555555;
    margin-top: 3px;
}

h4.page-header {
    padding: 0 0 5px;
    margin: 5px 0 15px;
}

.ajax-loader {
  margin-left: 10px;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

form#search-form {
    margin: 0 0 10px;
}

form#search-form #test-name {
    width: 185px;
}

div.test-details-open {
   padding-top: 200px;
   text-align: center;
}

h3.page-header {
    margin: 0;
}

h2 i, h3 i, h4 i {
    color: #c5c5c5;
}

h2 i:hover, h3 i:hover, h4 i:hover {
    color: #a5a5a5;
}

.test-details h4.page-header {
    margin: 15px 0 15px;
}

#test-tabs {
    margin-bottom: 0px;
}

#test-tabs button.close {
    margin-right: 8px;
}

#test-tabs > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding-right: 22px;
}

#test-tab-content {
    padding-left: 20px;
    padding-top: 5px;
    min-height: 695px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#test-info .control-group {
    margin-bottom: 5px;
}

#test-info .control-label {
    width: 80px;
}

#test-info .controls {
    margin-left: 105px;
}

.progress {
    border: 1px solid #aaaaaa;
}

.progress .bar {
    text-shadow: none;
    transition: none;
}

.progress-success .bar,
.progress .bar-success {
    background-color: #62c462;
    background-image: -moz-linear-gradient(top, #7ad87a, #62c462);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ad87a), to(#62c462));
    background-image: -webkit-linear-gradient(top, #7ad87a, #62c462);
    background-image: -o-linear-gradient(top, #7ad87a, #62c462);
    background-image: linear-gradient(to bottom, #7ad87a, #62c462);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ad87a', endColorstr='#ff62c462', GradientType=0);
}

.test-progress {
    min-width: 650px;
}

code.template {
  display: none;
}

pre.logger {
  height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 10px;
  background-color: #ffffff;
  border: none;
}

ul.jqueryFileTree {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

ul.jqueryFileTree a {
    padding: 1px 2px;
}

ul.jqueryFileTree a:hover {
    background: #efefef;
}

div.file-tree {
    border: 1px solid #dddddd;
    height: 650px;
    overflow: auto;
    padding: 5px;
}

.modal-body div.file-tree {
  height: 300px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.6;
  background-color: #F9F9F9;
}

.modal .form-horizontal .control-label {
    width: 110px;
}

.form-horizontal .controls {
    margin-left: 120px;
}

#content {
  padding-bottom: 210px;
}

span.message-data {
    font-size: 12px;
}

span.message-inbound {
    color: #888888;
    font-size: 16px;
}

span.message-outbound {
    color: #555555;
    font-size: 16px;
}

#footer {
  height: 210px;
  background-color: #ffffff;
}

#footer .nav {
    height: 25px;
	margin-bottom: 0px;
}

#footer .nav li {
    line-height: 5px;
}

#footer .navbar {
    margin-bottom: 0px;
}

#footer .navbar-inner {
    min-height: 10px;
}

.navbar-fixed-bottom .navbar-inner {
    border-width: 1px 0 1px;
    border-color: #888;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #555555;
    text-decoration: none;
    background-color: #eeeeee;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(top , #FBD577, #F89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBD577), to(#F89406));
    background-image: -webkit-linear-gradient(top, #FBD577, #F89406);
    background-image: -o-linear-gradient(top, #FBD577, #F89406);
    background-image: linear-gradient(to bottom, #FBD577, #F89406);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(top , #FBD577, #F89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBD577), to(#F89406));
    background-image: -webkit-linear-gradient(top, #FBD577, #F89406);
    background-image: -o-linear-gradient(top, #FBD577, #F89406);
    background-image: linear-gradient(to bottom, #FBD577, #F89406);
}

.dropdown-menu li > a {
    min-width: 125px;
    line-height: 1.8em;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

#footer .tab-content {
	min-height: 500px;
    background-color: #ffffff;
}

#footer.maximized {
	height: 600px;
}

#footer.minimized {
    height: 27px;
}

.footer-tab {
    height: 175px;
}

.footer-tab .maximized, pre.logger .maximized, .footer-task-bar .maximized {
    height: 575px;
}

.footer-tab .minimized, pre.logger .minimized, .footer-task-bar .minimized {
    height: 0px;
}

#footer-tabs > li > a {
    padding-right: 25px;
    border-right: 1px solid #888;
}

#footer-tabs button.close {
    margin-right: 8px;
}

.footer-bar {
    font-size: 16px;
    margin-right: 10px;
}

.footer-bar i {
    float: left;
    display: block;
    text-align: center;
    padding: 3px;
    margin: 0 1px;
    border: 1px solid #eeeeee;
}

.footer-task-bar {
    width: 35px;
    height: 175px;
    float: left;
    padding-top: 5px;
    background-color: #efefef;
    border-right: 1px solid #dddddd;
    color: #333333;
}

.footer-task-bar i {
    display: block;
    text-align: center;
    padding: 3px;
    margin: 0 5px;
    border: 1px solid #eeeeee;
}

.footer-task-bar i:hover, .footer-bar i:hover {
    border: 1px solid #cccccc;
}

.footer-task-bar i.icon-stop {
    color: #F4645C;
}

.footer-task-bar i.disabled, .footer-bar i.disabled {
    color: #888888;
}

.btn-citrus {
    color: #ffffff;
    text-shadow: none;
    background-color: #FAA732;
    *background-color: #F89406;
    background-image: -moz-linear-gradient(top, #FBD06E, #F89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBD06E), to(#F89406));
    background-image: -webkit-linear-gradient(top, #FBD06E, #F89406);
    background-image: -o-linear-gradient(top, #FBD06E, #F89406);
    background-image: linear-gradient(to bottom, #FBD06E, #F89406);
    background-repeat: repeat-x;
    border-color: #F89406 #F89406 #FAA732;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFBD06E', endColorstr='#ffF89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-citrus:hover,
.btn-citrus:active,
.btn-citrus.active,
.btn-citrus.disabled,
.btn-citrus[disabled] {
    color: #ffffff;
    background-color: #F89406;
    *background-color: #FAA732;
}

.btn-citrus.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-citrus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

ul.xsd-schema-list {
    list-style: none;
    margin: 0 0 0 10px;
}

input[readonly], select[readonly], textarea[readonly] {
    cursor: default;
    background-color: #ffffff;
}

.config-box {
    font-size: 12px;
    width: 295px;
    padding: 0px 0px 0px 0px;
    float: left;
    margin-right: 10px;
    overflow-x: hidden;
}

.config-box:hover h5.page-header {
    background-color: #FBE37E;
}

.config-box h5.page-header {
    padding-left: 5px;
    margin: 0 0 5px 0;
    background-color: #efefef;
}

.config-box .button-bar {
    border-top: 1px solid #eeeeee;
    text-align: right;
}

.config-box dl.dl-horizontal dt {
    width: 80px;
}

.config-box dl.dl-horizontal dd {
    margin-left: 90px;
}

.config-table {
    margin-top: 20px;
}