body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.box {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 5px 20px 20px 25px;
  position: relative;
}

.side-nav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  margin: 110px 0 0;
  padding: 0;
}

.side-nav > li > a {
  border: 1px solid #DDDDDD;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
}

.side-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.side-nav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.navbar-inverse .navbar-inner {
  background-color: #585858;
  background-image: -moz-linear-gradient(center top , #585858, #3d3d3d);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #ffffff;
}

.navbar-inverse .nav > li > a {
  color: #ffffff;
  font-size: 13px;
  border-left: 1px solid #585858;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: #FFFFFF;
  background-color: #808080;
  background-image: -moz-linear-gradient(center top , #808080, #434343);
}

.navbar-inverse .nav > li > a:hover {
  color: #FFFFFF;
  background-color: #808080;
  background-image: -moz-linear-gradient(center top , #808080, #434343);
}

.ajax-loader {
  margin-left: 10px;
  vertical-align: middle;
}

tr.show-test-details {
  cursor: pointer;
}

#testlist-tabs > li {
  margin-right: 5px;
}

#testlist-tabs button.close {
  margin-right: 8px;
}

#testlist-tabs > li > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD #DDDDDD transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding-right: 22px;
}

code.template {
  display: none;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("icons/glyphicons-halflings.png");
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("icons/glyphicons-halflings-white.png");
}

pre.log {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 10px;
}

div.file-tree {
  border: 1px solid #BBBBBB;
  height: 300px;
  overflow: auto;
  padding: 5px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.6;
    background-color: #F9F9F9;
}}

#log-tabs > li {
  margin-right: 5px;
}

#log-tabs button.close {
  margin-right: 8px;
}

#log-tabs > li > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD #DDDDDD transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding-right: 22px;
}
