<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: 1170px;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Citrus Admin</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a id="nav_context" href="#">Application Context</a></li>
          <li><a id="nav_testcases" href="#testcases">Tests</a></li>
          <li><a id="nav_about" href="#about">About</a></li>
          <li><a id="nav_contact" href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>