<div class="container">
    <div class="page-header">
      <h1>Tests cases <small>Manage tests in this project</small></h1>
    </div>
    
    <ul id="testlist-tabs" class="nav nav-tabs">
     <li class="active">
        <a href="#all-tab" data-toggle="tab">All Tests</a>
      </li>
    </ul>
    
    <div id="testlist-tab-content" class="tab-content">
      <div class="tab-pane active" id="all-tab">
        <form id="search-form" class="form-horizontal">
          <input id="test-name" type="text" class="input-large search-query"/>
          <a id="button-search" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</a>
          &nbsp;
          <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
        </form>
        
        <div id="search-results"></div>
      </div>
    </div>
</div>

<code id="test-details-tab" class="template">
  <li id="tab-{{var name='hash'}}" class="">
    <button id="tab-close-{{var name='hash'}}" type="button" class="close">&times;</button>
    <a href="#test-details-tab-{{var name='hash'}}" data-toggle="tab">{{var name='name'}}</a>
  </li>
</code>

<code id="test-details-tab-pane" class="template">
  <div class="tab-pane" id="test-details-tab-{{var name='hash'}}">
    <div id="test-case-details-{{var name='hash'}}"></div>
  </div>
</code>