<div class="conatiner-fluid">
    <div class="row-fluid">
        <div class="span3">
            <ul id="test-list" class="nav nav-list box side-nav"></ul>
        </div>
        <div class="span9">
          <div class="container">
			  <div class="page-header">
			    <h1>Integration Tests <small>All Citrus test cases</small></h1>
			  </div>
			  
			  <p class="well">Found <strong id="cnt-tests">{{testsTotal}}</strong> test cases available for this Citrus project. You can execute a test
			  or a complete test package below. Click on a test name in order to see the content of the test file.</p>
			  
			  <div id="test-case"></div>
		  </div>
		</div>
    </div>
</div>
