 ------
 Consulting
 ------
 
Expert consulting

 You want to use Citrus as testing tool in your project and need on-site help from our Citrus experts? You've got a specific question 
 about Citrus implementation, or you're just looking for some guidelines and best practices in testing? Please feel free to contact us!
 We will be glad to help you achieve your test goals and a stable software application.
 
 The Citrus developers are the same that deal with high complex Enterprise Integration Application software and Service-oriented 
 Architectures in our customer projects every day. So if you need special support for extensions and new features or in case you need 
 support when designing or developing software in common, do not hesitate to contact us! We would like to help you! 
 
 Also if you need Citrus patches or fast access to special programming from the Citrus development team write us an email. 
 Interested? Visit our {{{contact.html}contact}} section and talk to us.