 ------
 30 Minutes Quickstart
 ------

30 Minutes Quickstart

  This quickstart gets the Citrus project sources running in less than 30 minutes,
  starting with initial source code checkout and ending with a deployed application ready for coding.

* Preconditions

  * Subversion Client <<{{{http://subversion.tigris.org/}download}}>> 
  
    This can be either a command line client or some graphical UI. For
    simplicity, we assume you have the command line client <<<svn>>>
    installed.

    Note: Make sure your SVN client version is working with version 1.5 or higher!

  * JDK 1.5 (or higher version) 
  
    The installation directory is referred in the following as <<<JAVA_HOME>>>. 
    You can verify your installation via your command line with
  
---
> java -version
java version "1.5.0_13"
Java(TM) 2 Runtime Environment, Standard Edition (build 1.5.0_13-b05-237)
Java HotSpot(TM) Client VM (build 1.5.0_13-119, mixed mode, sharing)
---

    Note the correct version (1.5.x)!
    
  * Maven 2.0.9 (or higher version)
  
    Installed on your local machine. You can download {{{http://maven.apache.org}maven}} 
    and put it somewhere on your machine. Please verify correct version and <<<MAVEN_HOME>>> using following command

---
> mvn -version
Maven version: 2.0.9
Java version: 1.5.0_16
Default locale: en_US, platform encoding: MacRoman
OS name: "mac os x" version: "10.5.5" arch: "i386" family: "unix"
---

  * in case you want to connect to TIBCO EMS or in case you intend to connect with TIBCO Collaborator 
    you will need a TIBCO Installation on your local machine. For more information about TIBCO@ConSol use the {{{https://wiki.consol.de/wiki/Tibco}TIBCO Wiki pages}}.
    
* Initial checkout

  You need to checkout the Citrus sources from the subversion repository
  <<<svn.consol.de>>>. Using the command line this is done by

---
svn co http://svn.consol.de/svn/citrus/trunk citrus-trunk
---

  This will checkout the main trunk of the Citrus repository in the
  directory <<<citrus-trunk>>>.  In the following the
  freshly created directory "citrus-trunk" is referenced to as
  <<<$PROJECT_HOME>>>. For detailed instructions about subversion, please
  consult the subversion
  {{{http://svnbook.red-bean.com/}documentation}}.
  
  After the checkout, you have to create a file <<<profiles.xml>>>. A template
  <<<profiles.xml.template>>> is provided which can be used as a starting
  point. Copy it over to <<<profiles.xml>>> and replace <<<[[PROJECT_HOME]]>>> within
  the file with the top level directory <<<$PROJECT_HOME>>>. If you are the happy
  users of a Unix or OS X system, you can call

---
  sh setup.sh
---

  (or './setup.sh' or even '. ./setup.sh') to do this for you. You have to
  call <<<setup.sh>>> only once for the <<<profiles.xml>>> generation.

  There are more configuration files to be created after checkout. Naming this is the citrus.properties configuration file located in the 
  directory src/main/resources
  
* Create Citrus artifacts

  Now, when everything has been setup properly, you use the Maven2 CLI
  command <<<mvn>>> for all the rest. Call

---
mvn install
---

  This creates all artefacts, especially the Citrus JAR files. The <<install>> goal will also run all unit and integration tests included.

* Create IDE project files

  You can easily create the project files for your favourite IDE. For
  IntelliJ IDEA, in <<<$PROJECT_HOME>>> call

---
mvn idea:idea
---

   for eclipse, call

---
mvn eclipse:eclipse
---

  This is the preferred way for creating IDE project files. It will
  also install the sources for most libraries and can be called
  each time when dependencies changes.

  Note: You can also try out m2eclipse - check out the {{{http://www.theserverside.com/tt/articles/article.tss?l=Introductiontom2eclipse}introductory article}}.

* Create project site

  You can create the project generated site with

---
mvn site -Psite
---

  The special profile <site> activates the report plugins such as clover.

  Note: Usually you only want to create the top level project documentation, so you could skip
  the sub modules site generation with

---
mvn site -Psite -N
---

  To completely preview the site documentation, you can stage the generated site of all modules with

---
mvn site -Psite -DstagingDirectory=/tmp/stage
---

* Fin

  What's next?
