 ------
 Installation
 ------
 
Installation

 <<Preconditions>>
 
 You need following software on your computer, in order to use the Citrus Framework:
 
 * Java 5.0 or higher\
   Installed JDK 5.0 or higher plus JAVA_HOME environment variable set up and
   pointing to your Java installation directory
   
 * Java IDE (optional)\
   A Java IDE will help you manage your Citrus project, create and execute test cases.
   Use the Java IDE that you like best (e.g. {{{http://www.eclipse.org/}Eclipse}} or 
   {{{http://www.jetbrains.com/idea/}IntelliJ IDEA}}).
 
 * Maven 2.2.1 or higher (optional)\
   Citrus projects will fit best with the {{{http://maven.apache.org}Apache Maven}} build tool. But it is not required to use Maven. 
   You can also run tests via {{{http://ant.apache.org/}ANT}} for example.  
   
 []
 
 <<Installation>>
 
 * {{{download.html}Download}} the latest Citrus {{{download.html}release archive}}
 
 * Extract the archive into an appropriate location on your local storage
 
 * Use the {{{tutorials/run-with-ant.html}ANT tutorial}} in our tutorials section to find out how to run tests using ANT.
 
 * Read the {{{tutorials/run-with-maven.html}Maven tutorial}} to find out how to integrate the Citrus tests 
   into the Maven build lifecycle
 
 []