 ------
 Citrus Modules Introduction
 ------

Modules

[images/modules-overview.png] Modules

* citrus (POM)

  This is the main parent project containing general configurations, such as

  * site generation

  * dependency management
  
  * plugin management

  * overall project information, such as mailing lists, tem-members, scm, bug-tracking, ...

  * sub modules

* citrus-core (JAR)

  The <<citrus-core>> module builds the core functionality such as
  
  * domain model (TestCase, TestSuite, CitrusApplication, ...)
  
  * test actions (send, receive, sleep, sql, ...)
  
  * validation implementation (XML tree validation, XPath element validation)
  
  * utility
  
  The module also includes basic JMS and Spring integration message channel support in these two sections:
  
  * citrus-jms (JMS sender and receiver implementations)
  
  * citrus-channel (message channel sender and receiver implementations)

* citrus-adapter (JAR)

  Citrus talks to the world over messaging adapters. This adapter module contains common utility classes for adapter implementations 
  like citrus-http or citrus-ws.
  
* citrus-http (JAR)

  This module contains special HTTP client/server implementation. With this adapter Citrus is able to send and receive messages over HTTP.

* citrus-ws (WAR)

  Special adapter implementation for SOAP WebServices. Module contains classes for SOAP client and server connections over SOAP/HTTP.

* citrus-tibco (JAR)

  This module holds TIBCO specific test actions in order to connect with TIBCO Hawk and Collaborator. The module requires special TIBCO libraries 
  and a running TIBCO installation on the machine.

* citrus-integration (JAR)

  Internal integration tests executed during the Citrus build lifecycle. The tests help to ensure the integration test quality of Citrus.
  
* citrus-samples (JAR)

  Samples module holding several self runnable sample applications that are tested with Citrus. Currently this module knows following sample applications:
  
  * citrus-samples-flightbooking
  
  * citrus-samples-greeting
  
  * citrus-samples-bookregistry
