 ------
 News
 ------
 
News

* Jan. 20, 2010 <<Featured Citrus article on JAXenter.de>>
 
 We wrote an article on the german Java portal site {{{http://it-republik.de/jaxenter/}JAXenter.de}}. 
 The article gives a detailed introduction to the framework and describes how Citrus can ease the trouble of integration 
 testing in SOA projects. Have a look {{{http://it-republik.de/jaxenter/artikel/Automatisierte-Integrationstests-mit-Citrus-2826.html}here}}.
 
* Jan. 10, 2010 <<Citrus article in german Java magazine>>
 
 The german JavaMagazin ({{{http://www.javamagazin.de/}http://www.javamagazin.de}})
 gives a short introduction to the Citrus test framework in its latest issue 
 {{{http://it-republik.de/jaxenter/java-magazin-ausgaben/Cloud-Computing-000338.html}02/2010}}. 

* Dec. 17, 2009 <<Last snapshot version 1.1-SNAPSHOT before final release>>
 
 Shortly before the holidays we update the snapshot version 1.1-SNAPSHOT on more time. The latest changes are related to extended
 SOAP attachment support and bugfixing. This snapshot version will be the last one before the final 1.1 release in January. Again 
 have a look at the {{{changes-report.html}changes report}} to see the latest changes and new features in 1.1-SNAPSHOT.
 
* Nov. 09, 2009 <<Improved JMS Topic support in version 1.1-SNAPSHOT>>
 
 Citrus talks to JMS Topics. Version 1.1-SNAPSHOT fixed and improved the handling of JMS Topics. With the latest version someone
 can easily publish and subscribe to JMS Topics. Still open is the support for durable subscribers, but we are working on it. 
 All other improvements and fixes in this version are listed in the {{{changes-report.html}changes report}}.  

* Nov. 02, 2009 <<Bugfix update for snapshot version 1.1>>
 
 Version 1.1-SNAPSHOT has fixed some issues. The {{{changes-report.html}changes report}} gives you the detailed picture on the latest version.
 
* Okt. 22, 2009 <<Snapshot update for version 1.1>>
 
 We improved some issues in 1.1-SNAPSHOT, so you may update the Citrus snapshot version. 
 For a detailed overview of our fixes and new features see the complete {{{changes-report.html}changes report}} for version 1.1.

* Okt. 14, 2009 <<Snapshot for version 1.1 released>>
 
 Citrus is now also available as snapshot release in version 1.1. We already have incorporated some really great new features and
 fixed some issues. See below a list of new features for 1.1-SNAPSHOT - for detailed list of changes since version 1.0 see the 
 {{{changes-report.html}changes report}}. 
 
 New features in first 1.1-SNAPSHOT release
 
 * Sending SOAP attachments as a client

 * SOAP Fault validation (validate SOAP faults with SOAPFaultCode and SOAPFaultString)
  
 * Extended exception validation (error message validation)
 
 * Generate test documentation in Excel
 
 * Extend test case meta-info with custom elements
 
 * Write custom actions and extend test case with custom actions
 
* Sep. 25, 2009 <<Citrus goes OpenSource - version 1.0 released>>
 
 We are proud to present you the initial OpenSource version of the Citrus integration test framework! In case you do not have an idea what 
 this project is about and how it can help you in daily business please have a look at our {{{introduction.html}introduction (Why use Citrus?)}}
 and {{{installation.html}get started}} with it.
 
 View the complete {{{features.html}feature list}} and {{{download.html}download}}.
 