 ------
 Citrus Reference Documentation
 ------
 
Reference Documentation
  
  Citrus offers following documentation material:
  
    * {{{installation.html}Installation}}
    
    * UserGuide/Manual
    
        * {{{reference/html/index.html}HTML}}
        
        * {{{reference/html_single/index.html}HTML (single)}}
        
        * {{{reference/pdf/citrus-reference.pdf}PDF}}
        
    * API (Javadoc)
        
        * {{{modules/citrus-core/apidocs/index.html}citrus-core}}
        
        * {{{modules/citrus-http/apidocs/index.html}citrus-http}}
        
        * {{{modules/citrus-ws/apidocs/index.html}citrus-ws}}
        
        * {{{modules/citrus-tibco/apidocs/index.html}citrus-tibco}}
    
    * {{{tutorials.html}Tutorials}}
    
  For Citrus developers following documentation is provided
    
    * {{{dev-quickstart.html}Quickstart}}
    
    * {{{conventions.html}Coding conventions}}
    
    * {{{contributing.html}How to contribute changes}}
    