 ------
 Citrus Reference Documentation
 ------
 
Documentation
  
  Citrus offers following documentation material:
  
    * {{{installation.html}Installation}}
    
    * {{{tutorials.html}Tutorials}}
    
    []
    
    <<Latest snapshot release>>: ${project.version}
    
    * Reference Manual ({{{reference/html_single/index.html}HTML}}, {{{reference/html/index.html}HTML (multipage)}}, {{{reference/pdf/citrus-reference.pdf}PDF}})
        
    * API (Javadoc)
        
        * {{{modules/citrus-core/apidocs/index.html}citrus-core}}
        
        * {{{modules/citrus-http/apidocs/index.html}citrus-http}}
        
        * {{{modules/citrus-adapter/apidocs/index.html}citrus-adapter}}
        
        * {{{modules/citrus-ws/apidocs/index.html}citrus-ws}}
        
        * {{{modules/citrus-tibco/apidocs/index.html}citrus-tibco}}
    
    []
    
    <<Latest stable release>>: 1.0
    
    * Reference Manual ({{{reference/1.0/html_single/index.html}HTML}}, {{{reference/1.0/html/index.html}HTML (multipage)}}, {{{reference/1.0/pdf/citrus-reference.pdf}PDF}})
    
    * API (Javadoc)
        
        * {{{modules/citrus-core/apidocs/index.html}citrus-core}}
        
        * {{{modules/citrus-http/apidocs/index.html}citrus-http}}
        
        * {{{modules/citrus-adapter/apidocs/index.html}citrus-adapter}}
        
        * {{{modules/citrus-ws/apidocs/index.html}citrus-ws}}
        
        * {{{modules/citrus-tibco/apidocs/index.html}citrus-tibco}}
    
    []
            
Citrus developers
    
    ~~* {{{dev-quickstart.html}Quickstart}}
    
    ~~* {{{conventions.html}Coding conventions}}
    
    * {{{contributing.html}How to contribute changes}}
    