 ------
 Tutorials
 ------
 
Tutorials

  The tutorials section tries to cover a high amount of topics to get you in touch working with Citrus and extending the framework with 
  your own functionality. 
  
  See the list of available tutorials:

  * {{{./tutorials/run-with-maven.html} Project setup using Maven}}
  
    In this small tutorial a sample Citrus project uses Maven to include its integration tests into the Maven build lifecycle.
    
  * {{{./tutorials/run-with-ant.html} Run Citrus tests using ANT}}
  
    You can also run Citrus using ANT. This tutorial will introduce the project setup for ANT.  
       
  * {{{./tutorials/write-functions.html} Writing functions}}
  
    The tutorial show how to write custom functions and how to use them in a test case. The tutorial implements 
    two sample functions with and without parameters.  
  
  * Writing actions (comming soon)
  
    The tutorial shows how to include custom test actions into a test case. The example handles the Java implementation of a test action and
    shows the XML schema support in Spring to include the new actions into a Citrus test case.
