<div>
    <h4 class="page-header">Message Receiver &nbsp;<i id="btn-reload-config-receiver" class="icon-refresh clickable"></i></h4>
    <a id="btn-new-config-receiver" class="btn" type="button" title="Add message receiver"><i class="icon-plus"></i> New MessageReceiver</a>
    <div id="config-receivers"></div>

    <h4 class="page-header">Message Sender &nbsp;<i id="btn-reload-config-sender" class="icon-refresh clickable"></i></h4>
    <a id="btn-new-config-sender" class="btn" type="button" title="Add message sender"><i class="icon-plus"></i> New MessageSender</a>
    <div id="config-senders"></div>
</div>

<div id="dialog-edit-config-sender"></div>
<div id="dialog-edit-config-receiver"></div>

