<div class="container-fluid content-header">
  <div>
    <h1><i class="fa fa-wrench"/> Configuration
      <small>Citrus application context configuration</small>
      &nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
  </div>
</div>
<div class="container-fluid content-nav">
  <div>
    <p>On this page you can manage the Citrus Spring configuration elements such as message endpoints, schema repositories and global variables</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 navigation">
      <ul id="config-tabs" class="nav nav-tabs nav-stacked">
      </ul>
    </div>
    <div class="span9">
      <div id="config-tab-content" class="tab-content"></div>
    </div>
  </div>
</div>

<code id="config-tab-template" style="display: none;">
  <li id="tab-{{var name='id'}}" class="">
    <a href="#config-tab-{{var name='id'}}" data-toggle="tab">{{var name='tabDisplayName'}} <i class="fa fa-angle-double-right pull-right"></i></a>
  </li>
</code>

<code id="config-tab-content-template" style="display: none;">
  <div id="config-tab-{{var name='id'}}" class="tab-pane">
    <div id="config-{{var name='id'}}"></div>
  </div>
</code>
