<div class="container">
  <div class="page-header">
    <h1>Configuration
      <small>Manage citrus configuration</small>
      &nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
  </div>

  <div id="config-tab-container">
    <ul id="config-tabs" class="nav nav-tabs bordered-tabs">
    </ul>

    <div id="config-tab-content" class="tab-content">
    </div>
  </div>
</div>

<code id="config-tab-template" style="display: none;">
  <li id="tab-{{var name='id'}}" class="">
    <a href="#config-tab-{{var name='id'}}" data-toggle="tab">{{var name='tabDisplayName'}}</a>
  </li>
</code>

<code id="config-tab-content-template" style="display: none;">
  <div id="config-tab-{{var name='id'}}" class="tab-pane">
    <div id="config-{{var name='id'}}"></div>
  </div>
</code>
