<div>
    <h4 class="page-header">Schema-Repositories</h4>
    <a id="btn-reload-config-schema-repository" class="btn btn-citrus" type="button" title="Reload Schema Repositories"><i class="icon-refresh icon-white"></i> Reload</a>
    <a id="btn-new-config-schema-repository" class="btn btn-citrus" type="button" title="Add new Schema Repository"><i class="icon-plus icon-white"></i> New</a>
    <form id="form-filter-config-schema-repository" class="form-search pull-right" autocomplete="off">
      <div class="input-append">
        <input id="input-filter-config-schema-repository" type="text" class="input-large search-query" autocomplete="off" placeholder="Filter" title="Search"/>
        <button id="btn-search-config-schema-repository" type="submit" class="btn btn-citrus"><i class="icon-search icon-white"></i></button>
      </div>
    </form>
    <div id="config-schema-repository-table">
      <table id="table-config-schema-repository" class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
          <th>Id</th>
          <th>Schemas</th>
          <th width="50px;"></th>
        </tr>
        </thead>
        <tbody>
          <tr><td colspan="3">&nbsp;<i class="icon-remove"></i> No schema repository found</td></tr>
        </tbody>
        <tfoot>
          <tr><td colspan="3">&nbsp;</td></tr>
        </tfoot>
      </table>
    </div>

    <h4 class="page-header">Schemas</h4>

    <a id="btn-reload-config-xsd-schemas" class="btn btn-citrus" type="button" title="Reload Schemas"><i class="icon-refresh icon-white"></i> Reload</a>
    <a id="btn-new-config-xsd-schema" class="btn btn-citrus" type="button" title="Add new XSD Schema"><i class="icon-plus icon-white"></i> New</a>
    <form id="form-filter-config-xsd-schemas" class="form-search pull-right" autocomplete="off">
      <div class="input-append">
        <input id="input-filter-config-xsd-schemas" type="text" class="input-large search-query" autocomplete="off" placeholder="Filter" title="Search"/>
        <button id="btn-search-config-xsd-schemas" type="submit" class="btn btn-citrus"><i class="icon-search icon-white"></i></button>
      </div>
    </form>
    <div id="config-xsd-schemas-table"></div>
</div>

<div id="dialog-edit-config-xsd-schema"></div>

