<div class="container content-header">
  <div>
    <h1><i class="fa fa-wrench"/> Configuration
      <small>Application context configuration</small>
      &nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
  </div>
</div>

<div class="container">
  <ul id="config-tabs" class="nav nav-pills"/>
</div>

<div class="container content">
  <div id="config-tab-content" class="tab-content"></div>
</div>

<code id="config-tab-template" style="display: none;">
  <li id="tab-{{var name='id'}}" class="">
    <a href="#config-tab-{{var name='id'}}" data-toggle="tab">{{var name='tabDisplayName'}}</a>
  </li>
</code>

<code id="config-tab-content-template" style="display: none;">
  <div id="config-tab-{{var name='id'}}" class="tab-pane">
    <div id="config-{{var name='id'}}"></div>
  </div>
</code>
