<div>
    <h3 class="page-header">
      <span>Message Receiver &nbsp;<i id="btn-reload-config-receiver" class="icon-refresh clickable"></i></span>
      <div class="pull-right">
        <a id="btn-new-config-receiver" class="btn" type="button" title="Add message receiver"><i class="icon-plus"></i> Add</a>
      </div>
    </h3>
    <div id="config-receivers"></div>

    <h3 class="page-header">
      <span>Message Sender &nbsp;<i id="btn-reload-config-sender" class="icon-refresh clickable"></i></span>
      <div class="pull-right">
        <a id="btn-new-config-sender" class="btn" type="button" title="Add message sender"><i class="icon-plus"></i> Add</a>
      </div>
    </h3>
    <div id="config-senders"></div>
</div>

<div id="dialog-edit-config-sender"></div>
<div id="dialog-edit-config-receiver"></div>

