<div>
    <a id="btn-reload-config-xsd-schemas" class="btn btn-citrus" type="button" title="Reload Schemas"><i class="icon-refresh icon-white"></i> Reload</a>
    <a id="btn-new-config-xsd-schema" class="btn btn-citrus" type="button" title="Add new XSD Schema"><i class="icon-plus icon-white"></i> New</a>
    <form id="form-filter-config-xsd-schemas" class="form-search pull-right" autocomplete="off">
        <div class="input-append">
            <input id="input-filter-config-xsd-schemas" type="text" class="input-large search-query" autocomplete="off" placeholder="Filter" title="Search"/>
            <button id="btn-search-config-xsd-schemas" type="submit" class="btn btn-citrus"><i class="icon-search icon-white"></i></button>
        </div>
    </form>

    <div id="config-xsd-schemas-table"></div>
</div>

<div id="dialog-edit-config-xsd-schema"></div>

