<div>
    <h4 class="page-header">Schema-Repositories &nbsp;<i id="btn-reload-config-schema-repository" class="icon-refresh clickable"></i></h4>
    <a id="btn-new-config-schema-repository" class="btn" type="button" title="Add schema repository"><i class="icon-plus"></i> New Repository</a>
    <div id="config-schema-repository-table"></div>

    <h4 class="page-header">Schemas &nbsp;<i id="btn-reload-config-xsd-schemas" class="icon-refresh clickable"></i></h4>
    <a id="btn-new-config-xsd-schema" class="btn" type="button" title="Add XSD Schema"><i class="icon-plus"></i> New Schema</a>
    <form id="form-filter-config-xsd-schemas" class="form-search pull-right" autocomplete="off">
      <div class="input-append">
        <input id="input-filter-config-xsd-schemas" type="text" class="input-large search-query" autocomplete="off" placeholder="Filter" title="Search"/>
        <button id="btn-search-config-xsd-schemas" type="submit" class="btn btn-citrus"><i class="icon-search icon-white"></i></button>
      </div>
    </form>
    <div id="config-xsd-schemas-table"></div>
</div>

<div id="dialog-edit-config-xsd-schema"></div>
<div id="dialog-edit-config-schema-repository"></div>

