<div id="dictionary-list">
  <h2 class="page-header">
    <span><i class="fa fa-book"></i> Data Dictionary</span>
  </h2>

  <p>A data dictionary defines a list of key value mappings that are valid to all test cases and all messages sent and received across Citrus. The data dictionary is asked for
  translation of message elements. If the message element is defined in a data dictionary the respective dictionary value is set in the message. This is a way of centralized message
  adjustments in Citrus. The mapping keys in a data dictionary can be XPath expressions, Json paths and normal XML node paths. Every time a message is sent or received the data dictionary matching
  the mapping key will apply to the message value before validation takes place.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{dictionaryCount}}</span> data dictionaries. See all available dictionaries listed below:</p>

  <br/>

  <h2>
    <span><i class="fa fa-book"></i> Custom dictionaries</span>
  </h2>

  <div class="list-group">
    {{#unless dictionaries.length}}
    <div class="list-group-item"><i class="fa fa-times"></i> No data dictionaries found</div>
    {{/unless}}

    {{#each dictionaries}}
    <div class="list-group-item dictionary clickable" id="{{id}}">
      <a class="btn-remove pull-right" href="#config" title="Remove dictionary"><i class="fa fa-times" style="color: #A50000;"></i></a>
      <span class="label label-primary"><i class="fa fa-book"></i></span>&nbsp;
      <span><b>{{id}} ({{prefix}})</b></span>
      <ul class="properties">
        {{#each mappings.mappings}}
        <li><b>{{path}}</b>={{value}}</li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
  <a name="{{type}}" class="btn-new clickable" title="Add dictionary"><i class="fa fa-plus"></i> Add</a>

</div>

<div id="dictionary-edit" style="display: none;"></div>