<div id="endpoint-list">
  <h1 class="page-header">
    <span><i class="fa fa-share-alt-square"></i> Endpoints</span>
  </h1>

  <p>Endpoint components create producer and consumers for sending and receiving messages to/from various endpoint destinations. Endpoint components can be of synchronous and asynchronous nature and get referenced in test cases
    when sending and receiving messages.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{endpointCount}}</span> different endpoints. See all available endpoints listed below:</p>

  <br/>

  {{#each endpointTypes}}

    <h2>
      <span><i class="fa fa-share-alt-square"></i> {{capitalize type}} Endpoints</span>
    </h2>

    <table class="table table-hover table-condensed config-table">
      <thead>
      <tr>
        <th style="width: 80px;">Type</th>
        <th style="width: 400px;">Name</th>
        <th>Configuration</th>
        <th style="width: 20px;"></th>
      </tr>
      </thead>
      <tbody>
      {{#unless endpoints.length}}
      <tr><td colspan="4">&nbsp;<i class="fa fa-times"></i> No endpoints defined</td></tr>
      {{/unless}}

      {{#each endpoints}}
      <tr class="endpoint clickable" id="{{id}}">
        <td><span class="badge badge-{{type}}"><i class="fa fa-share-alt-square"></i> &nbsp;{{type}}</span></td>
        <td>{{id}}</td>
        <td>
          <ul class="properties">
            {{#each properties}}
              {{#if value}}
              <li><b>{{id}}</b>:{{value}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </td>
        <td>
          <a class="btn-remove" href="#config" title="Remove endpoint"><i class="fa fa-times" style="color: #A50000;"></i></a>&nbsp;
        </td>
      </tr>
      {{/each}}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">&nbsp;<a name="{{type}}" class="btn-new clickable" title="Add endpoint"><i class="fa fa-plus"></i> Add</a></td>
      </tr>
      </tfoot>
    </table>
  {{/each}}
</div>

<div id="endpoint-edit" style="display: none;"></div>