<table class="table table-hover table-condensed config-table">
  <thead>
  <tr>
    <th width="80px">Type</th>
    <th>Id</th>
    <th>Configuration</th>
    <th width="20px;"></th>
  </tr>
  </thead>
  <tbody>
  {{#unless matches.length}}
  <tr><td colspan="4">&nbsp;<i class="fa fa-remove"></i> No endpoints defined</td></tr>
  {{/unless}}

  {{#each matches}}
  <tr class="endpoint" id="{{id}}">
    <td>{{type}}</td>
    <td>{{name}}</td>
    <td>
      <ul class="properties">
    {{#each configuration}}
        <li><b>{{@key}}</b>:{{this}}</li>
    {{/each}}
      </ul>
    </td>
    <td>
      <a class="btn-endpoint-remove" href="#config" title="Remove endpoint"><i class="fa fa-remove" style="color: #A50000;"></i></a>&nbsp;
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>
