<div id="endpoint-list">
  <h2 class="page-header">
    <span><i class="fa fa-share-alt-square"></i> Endpoints</span>
  </h2>

  <p>Endpoint components create producer and consumers for sending and receiving messages to/from various endpoint destinations. Endpoint components can be of synchronous and asynchronous nature and get referenced in test cases
    when sending and receiving messages.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{endpointCount}}</span> different endpoints. See all available endpoints listed below:</p>

  <br/>

  {{#each endpointTypes}}

    <h2>
      <span><i class="fa fa-share-alt-square"></i> {{capitalize type}} Endpoints</span>
    </h2>

    <div class="list-group">
      {{#unless endpoints.length}}
      <div class="list-group-item"><i class="fa fa-times"></i> No endpoints defined</div>
      {{/unless}}

      {{#each endpoints}}
      <div class="list-group-item endpoint clickable" id="{{id}}">
          <a class="btn-remove pull-right" href="#config" title="Remove endpoint"><i class="fa fa-times" style="color: #A50000;"></i></a>
          <span class="label label-{{type}}"><i class="fa fa-share-alt-square"></i></span>&nbsp;
          <span><b>{{id}}</b></span>
          <ul class="properties">
            {{#each properties}}
            {{#if value}}
            <li><b>{{id}}</b>:{{value}}</li>
            {{/if}}
            {{/each}}
          </ul>
      </div>
      {{/each}}
    </div>
    <a name="{{type}}" class="btn-new clickable" title="Add endpoint"><i class="fa fa-plus"></i> Add</a>
  {{/each}}
</div>

<div id="endpoint-edit" style="display: none;"></div>