{{#if id}}
<h3>Edit Endpoint</h3>
{{else}}
<h3>New Endpoint</h3>
{{/if}}

<form id="endpoint-edit-form" class="form-horizontal">
  <input name="modelType" type="hidden" value="{{modelType}}"/>
  {{#if id}}
  <input name="id" type="hidden" value="{{id}}"/>
  <div class="control-group">
    <label class="control-label">Type <em>*</em></label>
    <div class="controls">
      <select name="type" value="{{type}}" disabled="true" class="span8">
        <option>{{type}}</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Name <em>*</em></label>
    <div class="controls">
      <input name="newId" value="{{id}}" type="text" class="span8"/>
    </div>
  </div>
  {{else}}
  <div class="control-group">
    <label class="control-label">Type <em>*</em></label>
    <div class="controls">
      <select id="endpointType" name="type" class="span8" value="{{type}}">
        <option value="jms">jms</option>
        <option value="channel">channel</option>
        <option value="http">http</option>
        <option value="ws">ws</option>
        <option value="ssh">ssh</option>
        <option value="camel">camel</option>
        <option value="vertx">vertx</option>
        <option value="ftp">ftp</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Name <em>*</em></label>
    <div class="controls">
      <input name="id" value="{{id}}" type="text" class="span8"/>
    </div>
  </div>
  {{/if}}

  {{#each properties}}
  <div class="control-group">
    <label class="control-label">{{displayName}}</label>
    <div class="controls">
      {{#if optionKey}}
      <div class="input-append">
        <input name="{{fieldName}}" class="input-xlarge" value="{{value}}" type="text"/>
        <div id="option-dropdown" class="btn-group">
          <button id="{{fieldName}}" name="{{optionKey}}" class="btn btn-option-search dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
          </button>
          <ul id="dropdown-menu-{{fieldName}}" class="dropdown-menu">
          </ul>
        </div>
      </div>
      {{/if}}
      {{#unless optionKey}}
        {{#if options}}
        <select id="{{fieldName}}" class="span8" name="{{fieldName}}" value="{{value}}">
          {{#each options}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        {{/if}}
        {{#unless options}}
        <input name="{{fieldName}}" value="{{value}}" type="text" class="span8"/>
        {{/unless}}
      {{/unless}}
    </div>
  </div>
  {{/each}}

  <div class="control-group">
    <div class="controls">
      {{#if id}}
      <a href="#config" id="btn-save" class="btn btn-citrus">Save</a>
      {{else}}
      <a href="#config" id="btn-add" class="btn btn-citrus">Add</a>
      {{/if}}
      <a href="#config" id="btn-cancel" class="btn btn-default">Close</a>
    </div>
  </div>
</form>