<ul class="jqueryFileTree" style="display: none;">
    {{#if compactFolder}}
    <li class="directory expanded"><a href="#" rel="{{baseDir}}">{{folderToPackage compactFolder}}</a>
    <ul class="jqueryFileTree">
    {{/if}}

    {{#each folders}}
    <li class="directory collapsed"><a href="#" rel="{{baseDir}}{{this}}/">{{folderToPackage this}}</a></li>
    {{/each}}
    {{#each files}}
    <li class="file ext_{{extension}}"><a href="#" rel="{{filePath}}{{fileName}}">{{fileName}}</a></li>
    {{/each}}

    {{#if compactFolder}}
    </ul>
    </li>
    {{/if}}
</ul>