<div class="footer-bar pull-right">
    <i id="footer-minimize" class="fa fa-chevron-up clickable"></i>
</div>
<ul class="nav nav-pills">
    <li class="active"><a href="#console-tab" data-toggle="tab">Console</a></li>
</ul>

<div id="footer-tab-content" class="tab-content" style="display: none;">
    <div id="console-tab" class="tab-pane active">
        <div class="footer-tab">
            <div class="footer-task-bar">
                <i id="footer-tab-clear-console" class="fa fa-trash-o clickable"></i>
            </div>
            <pre class="logger"></pre>
        </div>
    </div>
</div>

<code id="footer-tab" class="template">
    <li id="tab-{{var name='hash'}}" class="">
        <button id="footer-tab-close-{{var name='hash'}}" type="button" class="close">&times;</button>
        <a href="#footer-tab-{{var name='hash'}}" data-toggle="tab">{{var name='name'}}</a>
    </li>
</code>

<code id="footer-tab-pane" class="template">
    <div class="tab-pane" id="footer-tab-{{var name='hash'}}">
        <div id="footer-tab-content-{{var name='hash'}}" class="footer-tab">
            <div class="footer-task-bar">
                <i id="footer-tab-cancel-{{var name='hash'}}" data-toggle="tooltip" title="Cancel active process" class="fa fa-stop clickable"></i>
                <i id="footer-tab-scroll-{{var name='hash'}}" class="fa fa-download clickable"></i>
                <i id="footer-tab-clear-{{var name='hash'}}" class="fa fa-trash clickable"></i>
            </div>
            <pre class="logger"></pre>
        </div>
    </div>
</code>