<div class="footer-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="footer-bar pull-right">
            <i id="footer-minimize" class="icon-chevron-up clickable"></i>
            <i id="footer-maximize" class="icon-resize-full clickable"></i>
        </div>
        <ul id="footer-tabs" class="nav">
            <li class="active"><a href="#console-tab" data-toggle="tab">Console</a></li>
        </ul>
      </div>
    </div>

    <div id="footer-tab-content" class="tab-content" style="position:relative;">
        <div class="tab-pane active" id="console-tab">
            <div class="footer-tab minimized">
                <div class="footer-task-bar minimized">
                    <i id="footer-tab-clear-console" class="icon-trash clickable"></i>
                </div>
                <pre class="logger"></pre>
            </div>
        </div>
    </div>

    <code id="footer-tab" class="template">
        <li id="tab-{{var name='hash'}}" class="">
            <button id="footer-tab-close-{{var name='hash'}}" type="button" class="close">&times;</button>
            <a href="#footer-tab-{{var name='hash'}}" data-toggle="tab">{{var name='name'}}</a>
        </li>
    </code>

    <code id="footer-tab-pane" class="template">
        <div class="tab-pane" id="footer-tab-{{var name='hash'}}">
            <div id="footer-tab-content-{{var name='hash'}}" class="footer-tab">
                <div class="footer-task-bar">
                    <i id="footer-tab-cancel-{{var name='hash'}}" data-toggle="tooltip" title="Cancel active process" class="icon-stop clickable"></i>
                    <i id="footer-tab-scroll-{{var name='hash'}}" class="icon-download-alt clickable"></i>
                    <i id="footer-tab-clear-{{var name='hash'}}" class="icon-trash clickable"></i>
                </div>
                <pre class="logger"></pre>
            </div>
        </div>
    </code>
</div>