<div id="library-list">
  <h2 class="page-header">
    <span><i class="fa fa-unlink"></i> Functions</span>
  </h2>

  <p>Functions are used inside a test case in order to provide more dynamic values such as the current date, timestamps, random numbers and so on. The functions
    have a name and are grouped in a function library. Citrus provides a default function library but you can easily write your own functions and put them in a custom library in
    order to extend the framework capabilities.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{libraryCount}}</span> custom function libraries. See all available libraries listed below:</p>

  <br/>

  <h2>
    <span><i class="fa fa-unlink"></i> Custom Libraries</span>
  </h2>

  <div class="list-group">
    {{#unless libraries.length}}
    <div class="list-group-item"><i class="fa fa-times"></i> No function libraries found</div>
    {{/unless}}

    {{#each libraries}}
    <div class="list-group-item library clickable" id="{{id}}">
      <a class="btn-remove pull-right" href="#config" title="Remove library"><i class="fa fa-times" style="color: #A50000;"></i></a>
      <span class="label label-primary"><i class="fa fa-unlink"></i></span>&nbsp;
      <span><b>{{id}} ({{prefix}})</b></span>
      <ul class="properties">
        {{#each functions}}
        {{#if clazz}}
        <li><i class="fa fa-file-text-o"></i>&nbsp;<b>{{name}}()</b> class={{clazz}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
  <a name="{{type}}" class="btn-new clickable" title="Add library"><i class="fa fa-plus"></i> Add</a>

  <h2>
    <span><i class="fa fa-unlink"></i> Citrus Library</span>
  </h2>

  <div class="list-group-item">
    <span class="label label-primary"><i class="fa fa-unlink"></i></span>&nbsp;
    <span><b>{{defaultLibrary.id}} ({{defaultLibrary.prefix}})</b></span>
    <ul class="properties">
      {{#each defaultLibrary.functions}}
      {{#if clazz}}
      <li><i class="fa fa-file-text-o"></i>&nbsp;<b>{{name}}()</b> class={{clazz}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<div id="library-edit" style="display: none;"></div>