<div id="global-variables">
  <h2 class="page-header">
    <span><i class="fa fa-file-code-o"></i> Global Variables</span>
  </h2>

  <p>Global variables are normal test variables that are valid for all test cases. You should put in here constant values that are used across all test cases. Inside the test case you can use
  those global variables with the usual variable expression syntax.</p>

  <form id="global-variables-edit-form">
    <div class="row">
      <div class="col-xs-3">
        <input name="name" placeholder="Name" type="text" class="form-control"/>
      </div>

      <div class="col-xs-5">
        <input name="value" placeholder="Value" type="text" class="form-control"/>
      </div>

      <a href="#config" id="btn-add" class="btn btn-primary"><i class="fa fa-plus"></i> Add variable</a>
    </div>
  </form>

  <br/>

  <div id="variables" class="list-group">
    {{#each variables}}
    <div class="list-group-item clickable" id="{{name}}"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{name}}</b> = {{value}}&nbsp;<a class="btn-remove pull-right" href="#config" title="Remove variable"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
    {{/each}}
    {{#unless variables}}
    <div class="list-group-item clickable" id="noVariable"><i class="fa fa-times"></i> No variables defined</a></div>
    {{/unless}}
  </div>

</div>