<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><img src="images/brand-logo.png"/><span>&nbsp;Citrus Admin</span></a>
      <div class="nav-collapse">
        <ul id="header-nav" class="nav">
          <li class="dropdown active">
              <a id="nav-project" href="#project">Project</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="#project-new">New</a></li>
                  <li><a href="setup">Open</a></li>
                  <li><a href="#project-config">Settings</a></li>
              </ul>
          </li>
          <li><a id="nav-config" href="#config">Configuration</a></li>
          <li><a id="nav-tests" href="#tests">Tests</a></li>
          <li><a id="nav-stats" href="#stats">Statistics</a></li>
          <li><a id="nav-about" href="#about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="pull-right" id="web-socket"></div>
</div>