<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: 1170px;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Citrus Admin</a>
      <div class="nav-collapse">
        <ul id="header-nav" class="nav">
          <li class="active"><a href="#">Project</a></li>
          <li><a href="#config">Configuration</a></li>
          <li><a href="#testcases">Tests</a></li>
          <li><a href="#stats">Statistics</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="pull-right" id="web-socket"></div>
</div>