<ul id="log-tabs" class="nav nav-tabs">
    <li class="active">
        <a href="#general-tab" data-toggle="tab">Console</a>
    </li>
</ul>

<div id="log-tab-content" class="tab-content">
    <div class="tab-pane active" id="general-tab">
        <pre class="log">Log messages</pre>
    </div>
</div>

<code id="log-tab" class="template">
    <li id="tab-{{var name='hash'}}" class="">
        <button id="log-tab-close-{{var name='hash'}}" type="button" class="close">&times;</button>
        <a href="#log-tab-{{var name='hash'}}" data-toggle="tab">{{var name='name'}}</a>
    </li>
</code>

<code id="log-tab-pane" class="template">
    <div class="tab-pane" id="log-tab-{{var name='hash'}}">
        <div id="log-details-{{var name='hash'}}" style="position: relative;">
            <pre class="log"><button id="log-tab-cancel-{{var name='hash'}}" class="btn-mini btn-danger" style="position: absolute; top: 20px; right: 20px;">Cancel</button></pre>
        </div>
    </div>
</code>
