<table id="table-config-receiver" class="table table-hover table-condensed table-bordered config-table">
  <thead>
  <tr>
    <th width="80px">Type</th>
    <th>Id</th>
    <th>Destination</th>
    <th width="50px;"></th>
  </tr>
  </thead>
  <tbody>
  {{#unless matches.length}}
  <tr><td colspan="4">&nbsp;<i class="icon-remove"></i> No message receiver found</td></tr>
  {{/unless}}

  {{#each matches}}
  <tr id="{{id}}">
    <td><i class="icon-signin"></i>&nbsp;[{{type}}]</td>
    <td>{{name}}</td>
    <td style="word-break: break-all;">{{destination}}</td>
    <td>
      <a class="edit-config-receiver" href="#config" title="Edit message receiver"><i class="icon-pencil"></i></a>&nbsp;
      <a class="del-config-receiver" href="#config" title="Remove message receiver"><i class="icon-trash"></i></a>&nbsp;
    </td>
  </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr><td colspan="4">&nbsp;</td></tr>
  </tfoot>
</table>
