<table id="table-config-sender" class="table table-hover table-condensed config-table">
  <thead>
  <tr>
    <th>Type</th>
    <th>Id</th>
    <th>Destination</th>
    <th width="50px;"></th>
  </tr>
  </thead>
  <tbody>
  {{#unless matches.length}}
  <tr><td colspan="4">&nbsp;<i class="icon-remove"></i> No message sender found</td></tr>
  {{/unless}}

  {{#each matches}}
  <tr id="{{id}}">
    <td><i class="icon-share"></i>&nbsp;[{{type}}]</td>
    <td>{{name}}</td>
    <td>{{destination}}</td>
    <td>
      <a class="edit-config-sender" href="#config" title="Edit message sender"><i class="icon-pencil"></i></a>&nbsp;
      <a class="del-config-sender" href="#config" title="Remove message sender"><i class="icon-trash"></i></a>&nbsp;
    </td>
  </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr><td colspan="4">&nbsp;</td></tr>
  </tfoot>
</table>
