<div id="namespace-context">
  <h2 class="page-header">
    <span><i class="fa fa-globe"></i> Namespace Context</span>
  </h2>

  <p>Citrus works with XML messages and XPath expressions. When using XSD schema rules your XML messages do follow some namespace declaration rules. The namespaces and the according prefixes
  can be managed in a central namespace context component. All XPath expressions will use the context for namespace resolving.</p>

  <form id="namespace-edit-form">
    <div class="row">
      <div class="col-xs-3">
        <input name="prefix" placeholder="Prefix" type="text" class="form-control"/>
      </div>

      <div class="col-xs-5">
        <input name="uri" placeholder="Uri" type="text" class="form-control"/>
      </div>

      <a href="#config" id="btn-add" class="btn btn-primary">Add namespace</a>
    </div>
  </form>

  <br/>

  <div id="namespaces" class="list-group">
    {{#each namespaces}}
    <div class="list-group-item clickable" id="{{prefix}}"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{prefix}}</b> = {{uri}}&nbsp;<a class="btn-remove pull-right" href="#config" title="Remove namespace"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
    {{/each}}
  </div>

</div>