<div class="container" style="width: 600px; margin-top: 100px;">
  <img alt="logo" style="margin-left: 350px;" src="images/citrus-logo.png" width="250px"/>
  <div class="box box-dark">
    <form action="project/open" method="post" class="form-horizontal">
      <fieldset>
        <legend>Open project</legend>
        <div class="form-group">
          <label class="col-sm-3 control-label">Project Home</label>
          <div class="input-group">
            <input name="projecthome" type="text" class="form-control" placeholder="Project Home" value="{{projectHome}}" />
            <a id="button-browse" class="btn btn-default input-group-addon" type="button">...</a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3">
            <button class="btn btn-primary" type="submit">Open</button>
            <button class="btn btn-default" href="project/reset">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
    
    <div id="dialog-file-tree" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Select project home</h3>
          </div>

          <div class="modal-body">
            <p>Please select Citrus project home directory and confirm.</p>
            <div id="file-tree" class="file-tree"></div>
          </div>

          <div class="modal-footer">
            <a id="button-close" name="dialog-close" class="btn btn-default" data-dismiss="modal">Close</a>
            <a id="button-select" name="dialog-select" class="btn btn-primary">Open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
