<div class="container" style="width:600px;">
  <img alt="logo" style="margin-left:350px;" src="images/citrus-logo.png" width="250px"/>
  <div class="well">
    <form class="form-horizontal" action="project" method="get">
      <fieldset>
        <legend>Open project</legend>
        <div class="control-group">
          <label class="control-label">Project Home</label>
          <div class="controls">
            <div class="input-append">
              <input name="projecthome" type="text" class="input-xlarge" placeholder="Project Home" value="{{projectHome}}" />
              <button id="button-browse" class="btn" type="button">Browse</button>
            </div>
          </div>
        </div>
          
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-warning" type="submit">Open project</button>
          </div>
        </div>
      </fieldset>
    </form>
    
    <div id="dialog-file-tree" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" area-hidden="true">&times;</button>
        <h3>Select project home</h3>
      </div>
      
      <div class="modal-body">
        <p>Please select Citrus project home directory and confirm.</p>
        <div id="file-tree" class="file-tree"></div>
      </div>
      <div class="modal-footer">
        <a id="button-close" name="dialog-close" class="btn">Close</a> 
        <a id="button-select" name="dialog-select" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>
</div>
