<div id="schema-list">
  <h2 class="page-header">
    <span><i class="fa fa-copy"></i> Schema Definitions</span>
  </h2>

  <p>When dealing with XML message payloads proper schema definition checks are required in order to ensure syntax and interface contract rules. In Citrus
  we define all our schema definitions in schema-repository components. The schema files are picked up automatically during a test run and incoming XML messages
  are validated accordingly.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{repositories.length}}</span> different schema repositories. See all available schema definitions listed below:</p>

  <br/>

  <h2>
    <span><i class="fa fa-file-code-o"></i> Schemas</span>
  </h2>

  <div class="list-group">
    {{#unless schemas.length}}
    <div class="list-group-item"><i class="fa fa-times"></i> No schemas found</div>
    {{/unless}}

    {{#each schemas}}
    <div class="list-group-item schema clickable" id="{{id}}">
      <a class="btn-schema-remove pull-right" href="#config" title="Remove schema"><i class="fa fa-times" style="color: #A50000;"></i></a>
      <span class="label label-primary"><i class="fa fa-copy"></i></span>&nbsp;
      <span><b>{{id}}</b></span>
      <ul class="properties">
        <li><b>location:</b>{{location}}</li>
      </ul>
    </div>
    {{/each}}
  </div>
  <a name="{{type}}" class="btn-schema-new clickable" title="Add schema"><i class="fa fa-plus"></i> Add</a>

  <h2>
    <span><i class="fa fa-copy"></i> Schema Repositories</span>
  </h2>

  <div class="list-group">
    {{#unless repositories.length}}
    <div class="list-group-item"><i class="fa fa-times"></i> No schema repository found</div>
    {{/unless}}

    {{#each repositories}}
    <div class="list-group-item repository clickable" id="{{id}}">
      <a class="btn-repository-remove pull-right" href="#config" title="Remove repository"><i class="fa fa-times" style="color: #A50000;"></i></a>
      <span class="label label-primary"><i class="fa fa-copy"></i></span>&nbsp;
      <span><b>{{id}}</b></span>
    </div>
    {{/each}}
  </div>
  <a name="{{type}}" class="btn-repository-new clickable" title="Add repository"><i class="fa fa-plus"></i> Add</a>
</div>

<div id="schema-edit" style="display: none;"></div>
<div id="repository-edit" style="display: none;"></div>

