<table id="table-config-schema-repository" class="table table-hover table-condensed table-bordered config-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Schemas</th>
      <th width="50px;"></th>
    </tr>
  </thead>
  <tbody>
    {{#unless matches.length}}
    <tr><td colspan="3">&nbsp;<i class="fa fa-remove"></i> No schema repository found</td></tr>
    {{/unless}}

    {{#each matches}}
    <tr id="{{id}}">
      <td>{{id}}</td>
      <td>
      <ul class="xsd-schema-list">
      {{#each schemas.revesAndSchemas}}
        <li><i class="fa fa-file-text-o"></i>&nbsp;{{schema}}{{id}}</li>
      {{/each}}
      </ul>
      </td>
      <td>
        <a class="edit-config-schema-repository" href="#config" title="Edit XSD Schema"><i class="fa fa-pencil"></i></a>&nbsp;
        <a class="del-config-schema-repository" href="#config" title="Remove XSD Schema"><i class="fa fa-trash"></i></a>&nbsp;
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>