<div>
    <h3 class="page-header">Schema-Repositories</h3>

    <div class="container-fluid config-panel">
      <div class="row-fluid">
        <div class="span1 config-properties-panel">
          <ul class="config-properties">
            <li>Id:</li>
            <li>Schemas:</li>
          </ul>
        </div>
        <div class="span11 config-items-panel">
          {{#each schemaRepositories}}
          <div class="config-item clickable clickable-hover" id="{{id}}">
            <dl class="dl-horizontal">
              <dt><i class="icon-large icon-schema-repository"></i></dt>
              <dd><h4>SchemaRepository</h4></dd>
              <dd>{{id}}</dd>
            </dl>
            <ul class="config-properties">
              <li>{{id}}</li>
              <li>
                <ul class="xsd-schema-list">
                  {{#each schemas.revesAndSchemas}}
                  <li><i class="icon icon-schema"></i>&nbsp;{{schema}}{{id}}</li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </div>
          {{/each}}
          <div id="new-schema-repository" class="config-item config-item-new clickable clickable-hover">
            <dl class="dl-horizontal">
              <dt><i class="icon-large icon-schema-repository"></i></dt>
              <dd><h4>New</h4></dd>
              <dd><i class="fa fa-plus"></i> Add new</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <h3 class="page-header">Schemas</h3>

    <div class="container-fluid config-panel">
      <div class="row-fluid">
        <div class="span1 config-properties-panel">
          <ul class="config-properties">
            <li>Id:</li>
            <li>Location:</li>
          </ul>
        </div>
        <div class="span11 config-items-panel">
          {{#each schemas}}
          <div class="config-item clickable clickable-hover" id="{{id}}">
            <dl class="dl-horizontal">
              <dt><i class="icon-large icon-schema"></i></dt>
              <dd><h4>XSD-Schema</h4></dd>
              <dd>{{id}}</dd>
            </dl>
            <ul class="config-properties">
              <li>{{id}}</li>
              <li><i class="icon icon-schema"></i>&nbsp;{{location}}</li>
            </ul>
          </div>
          {{/each}}
          <div id="new-schema" class="config-item config-item-new clickable clickable-hover">
            <dl class="dl-horizontal">
              <dt><i class="icon-large icon-schema"></i></dt>
              <dd><h4>New</h4></dd>
              <dd><i class="fa fa-plus"></i> Add new</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="dialog-edit-config-xsd-schema"></div>
<div id="dialog-edit-config-schema-repository"></div>

