<div>
    <h2 class="page-header">
      <span><i class="fa fa-copy"></i> Schema Repositories</span>
    </h2>

    <table class="table table-hover table-condensed config-table">
      <thead>
      <tr>
        <th style="width: 20px;"></th>
        <th>Name</th>
        <th style="width: 20px;"></th>
      </tr>
      </thead>
      <tbody>
      {{#unless repositories.length}}
      <tr><td colspan="3">&nbsp;<i class="fa fa-times"></i> No schema repository found</td></tr>
      {{/unless}}

      {{#each repositories}}
      <tr class="schema clickable" id="{{id}}">
        <td><i class="fa fa-copy"></i></td>
        <td>{{id}}</td>
        <td>
          <a class="btn-repository-remove" href="#config" title="Remove repository"><i class="fa fa-times" style="color: #A50000;"></i></a>&nbsp;
        </td>
      </tr>
      {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">&nbsp;<a class="btn-repository-new clickable" title="Add endpoint"><i class="fa fa-plus"></i> Add</a></td>
        </tr>
      </tfoot>
    </table>

    <h2 class="page-header">
      <span><i class="fa fa-file-code-o"></i> Schemas</span>
    </h2>

    <table class="table table-hover table-condensed config-table">
      <thead>
      <tr>
        <th style="width: 20px;"></th>
        <th>Name</th>
        <th>Location</th>
        <th style="width: 20px;"></th>
      </tr>
      </thead>
      <tbody>
      {{#unless schemas.length}}
      <tr><td colspan="3">&nbsp;<i class="fa fa-times"></i> No xsd schemas found</td></tr>
      {{/unless}}

      {{#each schemas}}
      <tr class="repository clickable" id="{{id}}">
        <td><i class="fa fa-file-code-o"></i></td>
        <td>{{id}}</td>
        <td>{{location}}</td>
        <td>
          <a class="btn-schema-remove" href="#config" title="Remove xsd schema"><i class="fa fa-times" style="color: #A50000;"></i></a>&nbsp;
        </td>
      </tr>
      {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">&nbsp;<a class="btn-schema-new clickable" title="Add endpoint"><i class="fa fa-plus"></i> Add</a></td>
        </tr>
      </tfoot>
    </table>
</div>

<div id="schema-edit-dialog"></div>
<div id="repository-edit-dialog"></div>

