{{#if repository.id}}
<h3>Edit Schema Repository</h3>
{{else}}
<h3>New Schema Repository</h3>
{{/if}}

<form id="repository-edit-form" class="form-horizontal">
  {{#if repository.id}}
  <input name="id" type="hidden" value="{{repository.id}}"/>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input name="newId" value="{{repository.id}}" type="text" class="form-control"/>
    </div>
  </div>
  {{else}}
  <div class="form-group">
      <label class="col-sm-2 control-label">Name <em>*</em></label>
      <div class="col-sm-10">
          <input name="id" value="{{repository.id}}" type="text" class="form-control"/>
      </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="col-sm-2 control-label">Schemas</label>
    <div class="col-sm-10">
      {{#each repository.schemas.revesAndSchemas}}
      <label>
        <input id="{{schema}}{{id}}" type="checkbox" checked="true"/> <i class="fa fa-file-text-o"></i>&nbsp;{{schema}}{{id}}
      </label><br/>
      {{/each}}
      {{#each schemas}}
      <label>
        <input id="{{id}}" type="checkbox"/> <i class="fa fa-file-text-o"></i>&nbsp;{{id}}
      </label><br/>
      {{/each}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      {{#if repository.id}}
      <a href="#config" id="btn-repository-save" class="btn btn-primary">Save</a>
      {{else}}
      <a href="#config" id="btn-repository-add" class="btn btn-primary">Add</a>
      {{/if}}
      <a href="#config" id="btn-repository-cancel" class="btn btn-default">Close</a>
    </div>
  </div>
</form>