<div>
    <h3 class="page-header">
      <span>Schema-Repositories &nbsp;<i id="btn-reload-config-schema-repository" class="icon-refresh clickable"></i></span>
      <div class="pull-right">
        <a id="btn-new-config-schema-repository" class="btn" type="button" title="Add schema repository"><i class="icon-plus"></i> Add</a>
      </div>
    </h3>

    <div id="config-schema-repository-table"></div>

    <h3 class="page-header">
      <span>Schemas &nbsp;<i id="btn-reload-config-xsd-schemas" class="icon-refresh clickable"></i></span>
      <div class="pull-right">
        <a id="btn-new-config-xsd-schema" class="btn" type="button" title="Add XSD Schema"><i class="icon-plus"></i> Add</a>
      </div>
    </h3>

    <div id="config-xsd-schemas-table"></div>
</div>

<div id="dialog-edit-config-xsd-schema"></div>
<div id="dialog-edit-config-schema-repository"></div>

