<h4 class="page-header">
  <span>Variables:</span>
</h4>

<dl class="test-variables dl-horizontal">
  {{#unless test.variables.variables}}
  <dt>No values defined!</dt><dd>&nbsp;</dd>
  {{/unless}}

  {{#each test.variables.variables}}
  <dt>{{name}}:</dt><dd>{{value}}</dd>
  {{/each}}
</dl>

<h4 class="page-header">
  <span>Actions:</span>
</h4>

<div class="test-action action-start">
  <i class="icon-play"></i>
  <p><b>start</b></p>
</div>

<div class="test-actions">
  {{#each test.actions.actionsAndSendsAndReceives}}
    {{#if actionsAndSendsAndReceives}}
    <div class="test-container">
    {{#each actionsAndSendsAndReceives}}
      <div class="test-transition">
        <i class="icon-long-arrow-right"></i>
      </div>
      <div class="test-action">
        <i class="icon-{{type}}">&nbsp;</i>
        <p><b>{{type}}</b></p>
      </div>
    {{/each}}
    </div>
    {{/if}}

    {{#unless actionsAndSendsAndReceives}}
    <div class="test-transition">
      <i class="icon-long-arrow-right"></i>
    </div>
    <div class="test-action">
      <i class="icon-{{type}}">&nbsp;</i>
      <p><b>{{type}}</b></p>
    </div>
    {{/unless}}
  {{/each}}
</div>

<div class="test-transition">
  <i class="icon-long-arrow-right"></i>
</div>
<div class="test-action action-stop">
  <i class="icon-stop"></i>
  <p><b>stop</b></p>
</div>

<div class="clearfix"></div>