<div class="container-fluid content-header">
  <div>
    <h1><i class="icon-check-sign"/> Tests
      <small>Citrus integration test cases</small>&nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
    <br/>

    <p>On this page you see all <b>102</b> test cases in this project. Select a test and execute it with a run configuration.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 navigation">
        <form id="search-form" class="form-horizontal" method="GET" action="#">
          <div class="input-append">
	          <input id="test-name" type="text" autocomplete="off" class="input-large" data-provide="typeahead" placeholder="TestCase"/>
	          <button id="button-search" type="submit" class="btn btn-citrus"><i class="icon-search icon-white"></i></button>
          </div>
        </form>

        <div id="test-file-tree" class="file-tree"></div>
    </div>
    <div class="span9">
	    <ul id="test-tabs" class="nav nav-tabs">
            <li style="display: none;" class="active">
                <a href="#open-tab" data-toggle="tab">Open</a>
            </li>
	    </ul>
	    
	    <div id="test-tab-content" class="tab-content">
	      <div class="tab-pane active" id="open-tab">
              <div class="test-details-open">
                  <h3>Open test case</h3>
                  <p class="muted">Open by name with <em>Ctrl + O</em></p>
              </div>
	      </div>
	    </div>
    </div>
  </div>
</div>

<code id="test-details-tab" class="template">
  <li id="tab-{{var name='id'}}" class="">
    <button id="tab-close-{{var name='id'}}" type="button" class="close">&times;</button>
    <a href="#test-details-tab-{{var name='id'}}" data-toggle="tab">{{var name='name'}}</a>
  </li>
</code>

<code id="test-details-tab-pane" class="template">
  <div class="tab-pane" id="test-details-tab-{{var name='id'}}">
    <div id="test-case-details-{{var name='id'}}"></div>
  </div>
</code>