<h2 class="test-details-header">{{test.detail.name}} <small>{{test.packageName}}</small>
  <div class="btn-group pull-right">
    <a class="btn run-test" type="button" title="Run test">&nbsp;<i class="icon-play"></i>&nbsp;Run</a>
    <a class="btn cancel-test" type="button" title="Stop test execution" style="display: none;">&nbsp;<i class="icon-stop"></i>&nbsp;Stop</a>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {{# each runConfigurations}}
      <li><a href="#" class="run-config">{{id}}</a></li>
      {{/each}}
      <li class="divider"></li>
      <li><a href="#" class="run-config">Custom</a></li>
    </ul>
  </div>
</h2>

<div id="{{test.detail.name}}" class="test-details">
    <div class="test-details-navbar navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="#info-{{test.detail.name}}" data-toggle="tab">Info</a></li>
          <li class="active"><a href="#design-{{test.detail.name}}" data-toggle="tab" data-toggle="tab">Design</a></li>
          <li><a href="#xml-source-{{test.detail.name}}" class="xml-source" data-toggle="tab">XML</a></li>
          <li><a href="#java-source-{{test.detail.name}}" class="java-source" data-toggle="tab">Java</a></li>
          <li style="display: none;">
            <a href="#test-result-{{test.detail.name}}" style="padding-right: 22px" data-toggle="tab">Results</a>
          </li>
        </ul>
      </div>
    </div>
    <br/>

    <div class="test-details-content tab-content">
        <div class="tab-pane" id="info-{{test.detail.name}}">
          <div class="test-info">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label">Test Name</label>
                <div class="controls">
                  <input id="name" class="input-xlarge" name="name" type="text" placeholder="Test" value="{{test.name}}"/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Author</label>
                <div class="controls">
                  <input id="author" class="input-xlarge" name="author" type="text" placeholder="Author" value="{{test.detail.metaInfo.author}}"/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Status</label>
                <div class="controls">
                  <input id="status" class="input-xlarge" name="status" type="text" placeholder="Status" value="{{test.detail.metaInfo.status}}"/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Package</label>
                <div class="controls">
                  <input id="packageName" class="input-xlarge" name="packageName" type="text" placeholder="Package" value="{{test.packageName}}"/>
                </div>
              </div>

              <br/>

              <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                  <blockquote class="test-description">
                    {{#if test.detail.description}}
                    <p>{{test.detail.description}}</p>
                    {{/if}}
                    {{#unless test.detail.description}}
                    <p>No description</p>
                    {{/unless}}
                  </blockquote>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="tab-pane active" id="design-{{test.detail.name}}">
            <div class="test-design"></div>
        </div>
        <div class="tab-pane" id="xml-source-{{test.detail.name}}">
            <pre class="prettycode linenums"><ol class="linenums"><li class="L0"><span class="str">Loading sources ...</span></li></ol></pre>
        </div>
        <div class="tab-pane" id="java-source-{{test.detail.name}}">
            <pre class="prettycode linenums"><ol class="linenums"><li class="L0"><span class="str">Loading sources ...</span></li></ol></pre>
        </div>
        <div class="tab-pane" id="test-result-{{test.detail.name}}">
            <h4>Test results</h4>
            <div class="progress progress-success test-progress">
                <div class="bar" style="width: 0%"></div>
            </div>

            <h4 class="page-header">Messages</h4>
            <div class="test-message-flow"></div>
        </div>
    </div>
</div>