<div class="container content-header">
  <div>
    <h1><i class="fa fa-cubes"/> Tests
      <small>Citrus integration test cases</small>&nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
  </div>
</div>
<div class="container content-nav">
    <span>On this page you see all test cases in this project. Select a test and execute it with a run configuration.</span>
    <div class="pull-right">
      <form id="search-form" class="form-inline" method="GET" action="#">
        <div class="form-group">
          <div class="col-sm-1">
            <div class="input-group">
              <input id="test-name" type="text" autocomplete="off" class="form-control" data-provider="typeahead" placeholder="TestCase"/>
              <div class="input-group-btn">
                <button id="button-search" type="submit" class="btn btn-citrus"><i class="fa fa-search fa-white"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

<div class="container">
  <div class="row bordered">
    <div class="col-lg-2 navigation">
        <div id="test-file-tree" class="file-tree"></div>
    </div>
    <div class="col-lg-10">
	    <ul id="test-tabs" class="nav nav-tabs">
            <li style="display: none;" class="active">
                <a href="#open-tab" data-toggle="tab">Open</a>
            </li>
	    </ul>
	    
	    <div id="test-tab-content" class="tab-content">
	      <div class="tab-pane active" id="open-tab">
              <div class="test-details-open">
                  <h3>Open test case</h3>
                  <p class="muted">Open by name with <em>Ctrl + O</em></p>
              </div>
	      </div>
	    </div>
    </div>
  </div>
</div>

<code id="test-details-tab" class="template">
  <li id="tab-{{var name='id'}}" class="">
    <button id="tab-close-{{var name='id'}}" type="button" class="close">&times;</button>
    <a href="#test-details-tab-{{var name='id'}}" data-toggle="tab">{{var name='name'}}</a>
  </li>
</code>

<code id="test-details-tab-pane" class="template">
  <div class="tab-pane" id="test-details-tab-{{var name='id'}}">
    <div id="test-case-details-{{var name='id'}}"></div>
  </div>
</code>