<div class="container content-header">
  <div>
    <h1><i class="fa fa-cubes"/> Tests
      <small>Citrus integration test cases</small>&nbsp;
      <img class="ajax-loader" src="images/ajax-loader.gif" style="display: none;"/>
    </h1>
  </div>
</div>

<div class="container">
  <div class="pull-right">
    <form id="search-test-form" class="form-inline" method="GET" action="#">
      <div class="form-group">
        <div class="col-sm-1">
          <div class="input-group">
            <input id="test-name" type="text" autocomplete="off" class="form-control" data-provider="typeahead" placeholder="TestCase"/>
            <div class="input-group-btn">
              <button id="button-search" type="submit" class="btn btn-citrus"><i class="fa fa-search fa-white"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
    <div class="content-nav">
      <span>On this page you see all test cases in this project. Select a test and execute it with a run configuration.</span>
    </div>
</div>

<div class="container">
    <ul id="test-tabs" class="nav nav-tabs">
      <li role="presentation" class="dropdown">
        <a id="packages" class="dropdown-toggle" data-toggle="dropdown" href="#open-tab" role="button" aria-expanded="false">Open &nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="packages">
          {{#each testPackages}}
          <li role="presentation" class="dropdown-submenu"><a id="{{packageName}}" role="menuitem" tabindex="-1" href="#tests">{{packageName}}</a>
            <ul class="dropdown-menu" role="menu">
              {{#each tests}}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#tests/{{name}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <div id="test-tab-content" class="tab-content">
      <div class="tab-pane active" id="open-tab">
        <div class="test-details-open">
            <h3>Open test case</h3>
            <p class="muted">Open by name with <em>Ctrl + O</em></p>
        </div>
      </div>
    </div>
</div>

<code id="test-details-tab" class="template">
  <li id="tab-{{var name='id'}}" class="closable">
    <a href="#test-details-tab-{{var name='id'}}" data-toggle="tab">{{var name='name'}}</a>
    <button id="tab-close-{{var name='id'}}" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </li>
</code>

<code id="test-details-tab-pane" class="template">
  <div class="tab-pane" id="test-details-tab-{{var name='id'}}">
    <div id="test-case-details-{{var name='id'}}"></div>
  </div>
</code>