<div>
  <h4>Results</h4>
  <div class="progress progress-success test-progress">
    <div class="bar" style="width: 0%"></div>
  </div>

  <h4>Messages</h4>
  <div class="test-message-flow">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th style="min-width: 150px;">Date</th>
        <th style="min-width: 50px;">Type</th>
        <th style="min-width: 300px;">Message</th>
      </tr>
      </thead>
      <tbody>
      {{#unless messages.length}}
      <tr class="no-results"><td colspan="3">&nbsp;<i class="fa fa-times"></i> No message activity yet</td></tr>
      {{/unless}}

      {{#each messages}}
      <tr id="{{id}}" class="show-message-data">
        <td><span>{{dateFormat timestamp format="MMM DD HH:mm:ss.SSS"}}</span></td>
        <td>
          {{#if_eq type compare='INBOUND_MESSAGE'}}<span class="label message-inbound"><i class="fa fa-envelope"></i><i class="fa fa-arrow-left"></i></span>{{/if_eq}}
          {{#if_eq type compare='OUTBOUND_MESSAGE'}}<span class="label message-outbound"><i class="fa fa-arrow-right"></i><i class="fa fa-envelope"></i></span>{{/if_eq}}
        </td>
        <td><span class="message-data">{{truncate data length=150}}</span></td>
      </tr>
      {{/each}}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>