<div id="{{name}}">
    <form id="test-info" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input id="name" class="span4" name="name" type="text" placeholder="Name" value="{{name}}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Package</label>
            <div class="controls">
                <input id="packageName" class="span4" name="packageName" type="text" placeholder="Package" value="{{packageName}}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Author</label>
            <div class="controls">
                <input id="author" class="span4" name="author" type="text" placeholder="Author" value="{{author}}"/>
            </div>
        </div>
    </form>

    <a class="btn btn-success pull-right run-test"><i class="icon-play icon-white"></i></a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#xml-source" data-toggle="tab">XML</a></li>
        <li><a href="#java-source" data-toggle="tab">Java</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="xml-source">
            <div class="xml-source"></div>
        </div>
        <div class="tab-pane" id="java-source">
            <div class="java-source"></div>
        </div>
    </div>
</div>