<div id="matcher-list">
  <h2 class="page-header">
    <span><i class="fa fa-check-square"></i> Validation Matcher</span>
  </h2>

  <p>When validating incoming messages Citrus is able to consult the service of validation matcher implementations. These validation matcher bring more flexibility to a validation operation.
  When comparing a received value with an expected control value validation matcher help to get more powerful validation capabilities. Citrus offers a default list of validation matcher implementations
  such as equalsIgnoreCase or isNumber. Of course you can easily write your own validation matcher and put it to some custom validation matcher library.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{matcherCount}}</span> custom validation matcher libraries. See all available libraries listed below:</p>

  <br/>

  <h2>
    <span><i class="fa fa-check-square"></i> Custom Libraries</span>
  </h2>

  <div class="list-group">
    {{#unless libraries.length}}
    <div class="list-group-item"><i class="fa fa-times"></i> No custom libraries found</div>
    {{/unless}}

    {{#each libraries}}
    <div class="list-group-item matcher clickable" id="{{id}}">
      <a class="btn-remove pull-right" href="#config" title="Remove library"><i class="fa fa-times" style="color: #A50000;"></i></a>
      <span class="label label-primary"><i class="fa fa-check-square"></i></span>&nbsp;
      <span><b>{{id}} ({{prefix}})</b></span>
      <ul class="properties">
        {{#each matchers}}
        {{#if clazz}}
        <li><i class="fa fa-file-text-o"></i>&nbsp;<b>@{{name}}@()</b> class={{clazz}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
  <a name="{{type}}" class="btn-new clickable" title="Add library"><i class="fa fa-plus"></i> Add</a>

  <h2>
    <span><i class="fa fa-check-square"></i> Citrus Library</span>
  </h2>

  <div class="list-group-item">
    <span class="label label-primary"><i class="fa fa-check-square"></i></span>&nbsp;
    <span><b>{{defaultLibrary.id}} ({{defaultLibrary.prefix}})</b></span>
    <ul class="properties">
      {{#each defaultLibrary.matchers}}
      {{#if clazz}}
      <li><i class="fa fa-file-text-o"></i>&nbsp;<b>@{{name}}@()</b> class={{clazz}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<div id="matcher-edit" style="display: none;"></div>