<div id="matcher-list">
  <h2 class="page-header">
    <span><i class="fa fa-check-square"></i> Validation Matcher</span>
  </h2>

  <p>When validating incoming messages Citrus is able to consult the service of validation matcher implementations. These validation matcher bring more flexibility to a validation operation.
  When comparing a received value with an expected control value validation matcher help to get more powerful validation capabilities. Citrus offers a default list of validation matcher implementations
  such as equalsIgnoreCase or isNumber. Of course you can easily write your own validation matcher and put it to some custom validation matcher library.</p>

  <p>Your project defines <span class="badge badge-emphasis badge-citrus">{{matcherCount}}</span> custom validation matcher libraries. See all available libraries listed below:</p>

  <br/>

  <h2>
    <span><i class="fa fa-check-square"></i> Custom Libraries</span>
  </h2>

  <table class="table table-hover table-condensed config-table">
    <thead>
    <tr>
      <th style="width: 80px;"></th>
      <th style="width: 400px;">Name</th>
      <th>Validation Matcher</th>
      <th style="width: 20px;"></th>
    </tr>
    </thead>
    <tbody>
    {{#unless libraries.length}}
    <tr><td colspan="4">&nbsp;<i class="fa fa-times"></i> No custom libraries defined</td></tr>
    {{/unless}}

    {{#each libraries}}
    <tr class="matcher clickable" id="{{id}}">
      <td><span class="badge badge-{{prefix}}"><i class="fa fa-check-square"></i> &nbsp;{{prefix}}</span></td>
      <td>{{id}}</td>
      <td>
        <ul class="properties">
          {{#each matchers}}
          {{#if clazz}}
          <li><b>{{name}}</b>:{{clazz}}</li>
          {{/if}}
          {{/each}}
        </ul>
      </td>
      <td>
        <a class="btn-remove" href="#config" title="Remove library"><i class="fa fa-times" style="color: #A50000;"></i></a>&nbsp;
      </td>
    </tr>
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">&nbsp;<a class="btn-new clickable" title="Add library"><i class="fa fa-plus"></i> Add</a></td>
    </tr>
    </tfoot>
  </table>

  <h2>
    <span><i class="fa fa-check-square"></i> Citrus Library</span>
  </h2>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input name="id" value="{{defaultLibrary.id}}" disabled="disabled" type="text" class="span8"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Prefix</label>
      <div class="controls">
        <input name="prefix" value="{{defaultLibrary.prefix}}" disabled="disabled" type="text" class="span12"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Validation Matcher</label>
      <div class="controls">
        <ul id="matcher" class="sortable box">
          {{#each defaultLibrary.matchers}}
          <li class="sortable highlight" id="{{name}}"><i class="fa fa-file-text-o"></i>&nbsp;<b>@{{name}}@()</b> class={{clazz}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </form>

</div>

<div id="matcher-edit" style="display: none;"></div>