{{#if id}}
<h3>Edit Validation Matcher Library</h3>
{{else}}
<h3>New Validation Matcher Library</h3>
{{/if}}

<form id="matcher-edit-form" class="form-horizontal">
  {{#if id}}
  <input name="id" type="hidden" value="{{id}}"/>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input name="newId" value="{{id}}" placeholder="Unique Id" type="text" class="form-control"/>
    </div>
  </div>
  {{else}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input name="id" value="{{id}}" placeholder="Unique Id" type="text" class="form-control"/>
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="col-sm-2 control-label">Prefix <em>*</em></label>
    <div class="col-sm-10">
      <input name="prefix" value="{{prefix}}" placeholder="Prefix" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Validation Matcher</label>
    <div class="col-sm-3">
      <input name="name" placeholder="Name" type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input name="clazz" placeholder="Implementation Class" type="text" class="form-control"/>
    </div>
    <div class="col-sm-1">
      <a href="#config" id="btn-add-matcher" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div id="matcher" class="list-group">
        {{#each matchers}}
        <div class="list-group-item clickable" id="{{name}}" title="{{clazz}}"><i class="fa fa-file-text-o"></i>&nbsp;<b>@{{name}}@()</b> class={{clazz}}&nbsp;<a class="btn-remove-matcher pull-right" href="#config" title="Remove matcher" data-target="{{name}}"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      {{#if id}}
      <a href="#config" id="btn-save" class="btn btn-primary">Save</a>
      {{else}}
      <a href="#config" id="btn-add" class="btn btn-primary">Add</a>
      {{/if}}
      <a href="#config" id="btn-cancel" class="btn btn-default">Close</a>
    </div>
  </div>

</form>