{{!

  Copyright the original author or authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

}}
package {{invokerPackage}};

import static org.citrusframework.util.SystemProvider.SYSTEM_PROVIDER;

import org.citrusframework.context.TestContext;
import org.citrusframework.exceptions.CitrusRuntimeException;
import org.citrusframework.openapi.OpenApiSpecification;
import org.citrusframework.util.EnvUtils;

public class {{#lambda.titlecase}}{{prefix}}{{/lambda.titlecase}}OpenApi {

    private static final String PROPERTY_KEY = "citrus.{{#lambda.lowercase}}{{prefix}}{{/lambda.lowercase}}.openapi";

    private static final String DEFAULT_LOCATION = "{{invokerPackagePath}}/{{prefix}}_openApi.yaml";

    private static final String API_LOCATION = EnvUtils.getConfigurationProperty(
        SYSTEM_PROVIDER,
        PROPERTY_KEY,
        DEFAULT_LOCATION
    );

    public static final OpenApiSpecification {{#lambda.camelcase}}{{prefix}}{{/lambda.camelcase}}Specification = loadOpenApi();

    private static OpenApiSpecification loadOpenApi() {
        try {
            OpenApiSpecification openApiSpecification = OpenApiSpecification.from(API_LOCATION);

            // Make sure we are able to load it.
            openApiSpecification.getOpenApiDoc(new TestContext());

            return openApiSpecification;
        } catch (Exception e) {
            String msg = String.format("""
                Failed to load OpenAPI specification from '%s'.

                Possible reasons include:
                  • The generated resource file was not copied correctly during code generation.
                  • The resource folder containing the generated OpenAPI file is not on the classpath.
                  • The OpenAPI file exists but contains syntax or semantic errors that prevent parsing.

                By default, the code generator copies the OpenAPI definition into the generated sources
                under '%s'. Please verify that this file exists and is packaged with your compiled classes.

                If you need to override the location, you can specify it via:
                  • System property: -D%s=/path/to/openapi.yaml
                  • Environment variable: %s=/path/to/openapi.yaml

                """,
                API_LOCATION, DEFAULT_LOCATION, PROPERTY_KEY, EnvUtils.transformPropertyToEnv(PROPERTY_KEY)
            );
            throw new CitrusRuntimeException(msg, e);
        }
    }
}
