#Test directory
test.directory=tests
config.spring=config/spring
test.author=Mickey Mouse

#Post processor context
context.post.processor=config/spring/postProcessorContext.xml

#Output/Report settings
test.output.dir=test-output
test.output.file=test-results.xml
test.report.dir=test-report

#JMS queue authorization
jms.user=admin
jms.password=consol
jms.server.url=tcp://localhost:7222

#JMS receive timeout
jms.reveiveTimeout=1000

#Database Access NMF
jdbc.driver=org.hsqldb.jdbcDriver
jdbc.url=jdbc:hsqldb:mem:test
db.user=sa
db.password=

#Http Service (0=USE_TESTSUITE, 1=STANDALONE)
http.port=8088
http.host=localhost
http.urlpath=/test
http.request.method=POST
http.server.mode=1

#XML DTD definitions
xml.dtd.path=xml

#XML schema source for validation
xml.schema.path=xml

#JMS queues
jms.ws.stub.request=TestSuite.Ws.Stub.RequestQueue
jms.ws.stub.response=TestSuite.Ws.Stub.ResponseQueue

jms.queue.http.request.forward=JMS.TestSuite.Http.Request.Forward
jms.queue.http.request.ack=JMS.TestSuite.Http.Request.Ack

jms.queue.sync.in=TestSuite.Sync.In
jms.queue.sync.out=TestSuite.Synch.Out
jms.queue.async.in=TestSuite.Async.In
jms.queue.async.out=TestSuite.Async.Out

jms.queue.dummy=TestSuite.Queue.Dummy
jms.queue.dummy.one.in=TestSuite.Queue.Dummy.One.In
jms.queue.dummy.one.out=TestSuite.Queue.Dummy.One.Out
jms.queue.dummy.two.in=TestSuite.Queue.Dummy.One.In
jms.queue.dummy.two.out=TestSuite.Queue.Dummy.One.Out
jms.queue.dummy.three.in=TestSuite.Queue.Dummy.Three.In
jms.queue.dummy.three.out=TestSuite.Queue.Dummy.Three.Out