<?xml version="1.0" encoding="UTF-8"?>
<spring:beans xmlns="http://www.citrusframework.org/schema/testcase" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.citrusframework.org/schema/testcase http://www.citrusframework.org/schema/testcase/citrus-testcase.xsd">
    <testcase name="SpringBeanXml_IT">
        <meta-info>
          <author>Christoph Deppisch</author>
          <creationdate>2015-03-18</creationdate>
          <status>FINAL</status>
          <last-updated-by>Christoph Deppisch</last-updated-by>
          <last-updated-on>2015-03-18T00:00:00</last-updated-on>
        </meta-info>

        <variables>
            <variable name="time" value="citrus:currentDate()"/>
        </variables>

        <actions>
            <echo/>
            <echo>
                <message>Hello Citrus!</message>
            </echo>
            <echo>
                <message>CurrentTime is: ${time}</message>
            </echo>
        </actions>
    </testcase>
</spring:beans>
