a.atlwdg-trigger {
	color: #FF8805;
}

.atlwdg-trigger {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border-width: medium 1px 1px !important;
	border-color: -moz-use-text-color #666666 #666666 !important;
	box-shadow: none !important;
}