<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd"> 

<!--
  Please refer to the documentation at http://checkstyle.sourceforge.net/config.html for details
-->

<module name="Checker">
  <property name="severity" value="warning"/>

  <module name="NewlineAtEndOfFile"/>
  <module name="Translation"/>

  <!-- See http://checkstyle.sf.net/config_sizes.html -->
  <module name="FileLength">
    <property name="max" value="1500"/>
  </module>
  <module name="FileTabCharacter"/>
  
  <module name="TreeWalker">
    <!-- Javadoc -->
    <module name="JavadocMethod">
      <property name="scope" value="public"/>
      <property name="allowUndeclaredRTE" value="true"/>
      <property name="allowMissingPropertyJavadoc" value="true"/>
    </module>

    <module name="JavadocType">
      <property name="scope" value="public"/>
    </module>

    <module name="JavadocVariable">
      <property name="scope" value="protected"/>
    </module>

    <module name="JavadocStyleCheck">
      <property name="checkEmptyJavadoc" value="true"/>
      <property name="checkFirstSentence" value="false"/>
      <property name="checkHtml" value="false"/>
      <property name="scope" value="public"/>
    </module>

    <!-- Naming -->
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName">
      <property name="format" value="^[a-zA-Z0-9]*$"/>
    </module>
    <module name="StaticVariableName"/>

    <module name="TypeName"/>

    <!-- Checks for Headers                              -->
    <!-- See http://checkstyle.sf.net/config_header.html -->
    <!--
    <module name="Header">
        <property name="headerFile" value="${checkstyle.header.file}"/>
    </module>
    -->

    <!-- Following interprets the header file as regular expressions. -->
    <!-- <module name="RegexpHeader"/>                                -->

    <!-- Checks for imports                              -->
    <!-- See http://checkstyle.sf.net/config_import.html -->
    <!-- module name="AvoidStarImport"/-->
    <module name="IllegalImport"/> <!-- defaults to sun.* packages -->
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>

    <!-- Checks for Size Violations.                    -->
    <module name="LineLength">
      <property name="max" value="120"/>
      <property name="ignorePattern" value="^\s*\*\s*\S"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="150"/>
    </module>
    <module name="AnonInnerLength">
      <property name="max" value="30"/>
    </module>
    <module name="ParameterNumber"/>

    <!-- Whitespace -->
    <module name="EmptyForIteratorPad"/>

    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>

    <!-- <module name="OperatorWrap"/> -->
    <module name="ParenPad"/>

    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="tokens"
                value=
               "ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN,
                BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY,
                LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY,
                LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY,
                LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL,
                PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN,
                STAR, STAR_ASSIGN, TYPE_EXTENSION_AND, WILDCARD_TYPE"/>
    </module>

    <!-- Modifier Checks -->
    <!-- See http://checkstyle.sf.net/config_modifiers.html -->

    <!-- <module name="ModifierOrder"/> -->
    <module name="RedundantModifier"/>

    <!-- Checks for blocks. You know, those {}'s -->
    <!-- See http://checkstyle.sf.net/config_blocks.html -->
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly">
      <property name="option" value="same"/>
      <property name="tokens" value="LITERAL_CATCH,LITERAL_ELSE,LITERAL_TRY"/>
    </module>

    <!-- Checks for common coding problems -->
    <!-- See http://checkstyle.sf.net/config_coding.html -->
    <!-- <module name="AvoidInlineConditionals"/> -->
    <module name="DoubleCheckedLocking"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField">
        <property name="severity" value="error"/>
    </module>
    <module name="InnerAssignment"/>
    <!-- <module name="MagicNumber"/> -->
    <module name="MissingSwitchDefault"/>
    <module name="RedundantThrows">
      <property name="allowUnchecked" value="true"/>
    </module>
    <module name="RedundantThrows"/>

    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="IllegalCatch">
      <property name="severity" value="warning"/>
    </module>
    <module name="JUnitTestCase"/>
    <module name="ParameterAssignment"/>

    <module name="UnnecessaryParentheses"/>

    <!-- Checks for class design -->
    <!-- See http://checkstyle.sf.net/config_design.html -->
    <!-- <module name="DesignForExtension"/> -->
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    
    <module name="VisibilityModifier">
      <property name="protectedAllowed" value="true"/>
    </module>

    <!-- Miscellaneous other checks. -->
    <!-- See http://checkstyle.sf.net/config_misc.html -->
    <module name="ArrayTypeStyle"/>
    <!-- <module name="FinalParameters"/> -->

    <module name="TodoComment">
        <property name="severity" value="info"/>
    </module>

    <module name="UpperEll"/>

    <module name="UncommentedMain"/>

    <!-- Needed for the suppression comment holder to work -->
    <module name="FileContentsHolder"/>
  </module>

  <module name="RegexpSingleline">
    <property name="format" value="printStacktrace"/>
    <property name="message"
              value="Don't dump stacktraces with printStacktrace(). Use logging instead"/>
  </module>
  
  <module name="RegexpSingleline">
    <property name="format" value="System\.(out|err)\.print"/>
    <property name="message"
              value="System.out.println and System.err.println are not allowed. Use logging instead."/>
  </module>
  
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Avoid trailing spaces in a line"/>
  </module>
  
  <!-- Filter for supressing checkstyle comments-->
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CS\:OFF"/>
    <property name="onCommentFormat" value="CS\:ON"/>
  </module>
</module>