<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <description>Contains the root context. Gets loaded via ContextLoaderListener in web.xml</description>

    <!-- Imports application module spring context files -->
    <import resource="classpath*:/META-INF/citrus-admin-context.xml"/>

    <!-- Used for autowiring -->
    <context:annotation-config/>
    
    <!-- Register MBeans -->
    <context:mbean-export default-domain="com.consol.citrus.admin"/>
    
</beans>
